旨在整理和回顾这段时间的工作内容

看哪些做的不足

哪些需要改进

哪些还未完成

哪些还未实现

哪些还留有遗憾

我们先看下能否正常运行代码

### import libraries

In [2]:
%load_ext autoreload
%autoreload 2
from utils import *

In [4]:
import seaborn as sns
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
result = calc_pair_trading('SMH', method='rolling')

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

### function

#### 更新数据

每日只需要运行一次

In [ ]:
from utils_update
update()

#### 从数据文件中获取数据

##### data文件夹内默认只有从Bloomberg获取到的数据，数据文件名为'data.csv'

In [55]:
path = 'data/data.csv'
data = get_data(path)

In [56]:
data.head()

                       high      open       low    volume  Adj Close
date       code
2010-01-04 036570  141237.0  136143.0  136143.0  236774.0   138458.0
           053800   24670.0   21949.0   21488.0  448371.0    24670.0
           069080   11700.0   11200.0   11050.0  151712.0    11550.0
           078340   13341.0   11973.0   11973.0  951783.0    13341.0
           095660   42600.0   41300.0   41050.0  390371.0    41500.0

##### 选取单个ticker的数据

In [64]:
code = '053800'

In [65]:
data.loc[(slice(None), code),:].head()

                      high     open      low    volume  Adj Close
date       code
2010-01-04 053800  24670.0  21949.0  21488.0  448371.0    24670.0
2010-01-05 053800  28036.0  25315.0  24163.0  875198.0    25684.0
2010-01-06 053800  26929.0  26099.0  24808.0  408620.0    26376.0
2010-01-07 053800  27806.0  26745.0  24716.0  444698.0    25039.0
2010-01-08 053800  26653.0  25500.0  24808.0  329499.0    26468.0

亦可以用utils中的函数select_code

In [66]:
select_code(data, code).head()

               high     open      low    volume  Adj Close
date
2010-01-04  24670.0  21949.0  21488.0  448371.0    24670.0
2010-01-05  28036.0  25315.0  24163.0  875198.0    25684.0
2010-01-06  26929.0  26099.0  24808.0  408620.0    26376.0
2010-01-07  27806.0  26745.0  24716.0  444698.0    25039.0
2010-01-08  26653.0  25500.0  24808.0  329499.0    26468.0

##### 选取一组tickers的数据

```
比如我们想获取某个ETF的数据
首先就是需要知道这个ETF里由哪些tickers构成
```

使用utils中的函数get_code_list_by_etf拿到PSJ的tickers list

In [74]:
# 我们先拿到PSJ的tickers list
df_code = pd.read_excel('data/etf_pair_code.xlsx', dtype={'symbol':str})
psj_code_list = get_code_list_by_etf(df_code, 'PSJ', 'all').symbol.tolist()
data.loc[(slice(None), psj_code_list),:].head()

                    high     open      low     volume  Adj Close
date       code
2010-01-04 ADBE  37.3000  36.6500  36.6500  4710112.0    37.0900
           ALRM      NaN      NaN      NaN        NaN        NaN
           ALTR      NaN      NaN      NaN        NaN        NaN
           ATVI  10.4115  10.2115  10.1387  9310055.0    10.2751
           BAND      NaN      NaN      NaN        NaN        NaN

```
也可以任意提取想要ticker的数据
```

In [78]:
some_code_list = ['MSFT', 'AMZN', '700']
data.loc[(slice(None), some_code_list),:].head()

                     high      open       low      volume  Adj Close
date       code
2010-01-04 700    32.9320   32.6190   32.5020  11261945.0    32.8140
           AMZN  136.6100  136.2500  133.1400   7600543.0   133.9000
           MSFT   24.8407   24.4573   24.4334  38414185.0    24.7209
2010-01-05 700    33.7910   32.6780   32.6390  24423510.0    33.5570
           AMZN  135.4790  133.4300  131.8100   8856456.0   134.6900

##### 按时间获取数据

In [79]:
# 某一天的数据
data.loc[('2010-01-04',slice(None)),:].head()

                       high      open       low    volume  Adj Close
date       code
2010-01-04 036570  141237.0  136143.0  136143.0  236774.0   138458.0
           053800   24670.0   21949.0   21488.0  448371.0    24670.0
           069080   11700.0   11200.0   11050.0  151712.0    11550.0
           078340   13341.0   11973.0   11973.0  951783.0    13341.0
           095660   42600.0   41300.0   41050.0  390371.0    41500.0

In [81]:
# 某一个月的数据
data.loc[('2010-02',slice(None)),:].head()

                       high      open       low    volume  Adj Close
date       code
2010-02-01 036570  122714.0  121324.0  116694.0  258986.0   121324.0
           053800   21995.0   21442.0   21073.0  104049.0    21212.0
           069080   13600.0   12950.0   12500.0  260707.0    13100.0
           078340   11332.0   11118.0   10861.0  380158.0    11246.0
           095660   32100.0   31650.0   30200.0  255557.0    30950.0

In [83]:
# 某一年的数据
data.loc[('2019',slice(None)),:].head()

                       high      open       low    volume  Adj Close
date       code
2019-01-02 036570  472500.0  464500.0  461000.0   83710.0   467000.0
           053800   46850.0   46850.0   46150.0   51420.0    46150.0
           069080   22500.0   22250.0   21000.0  666367.0    21450.0
           078340  129100.0  129000.0  124900.0   83280.0   125000.0
           095660   12700.0   12500.0   12250.0   89761.0    12450.0

##### 某个时间段某些股票的数据

In [84]:
some_code_list = ['MSFT', 'AMZN', '700']
data.loc[('2018', some_code_list),:].head()

                      high       open        low      volume  Adj Close
date       code
2018-01-02 700    417.0680   407.0910   406.6920  24080505.0   416.8690
           AMZN  1190.0000  1172.0000  1170.5100   2694494.0  1189.0100
           MSFT    84.8413    84.6594    84.0451  22483797.0    84.4874
2018-01-03 700    425.8490   423.0550   418.0660  22780154.0   421.2590
           AMZN  1205.4900  1188.3000  1188.3000   3108793.0  1204.2000