In [77]:
import pandas as pd

In [78]:
data = pd.read_csv('td.csv')

In [79]:
data.head()

,Symbol,Description,Shares,Price (Ԫ),Trade Value (Ԫ),Trade Value (%),Transaction Cost (Ԫ),Trade Type,Action
0,000157-CN,ZOOMLION HVY IND S,698700.0,4.530000,3.165111e+06,0.031651,0.0,Buy New,BUY
1,000338-CN,WEICHAI POWER CO,34300.0,11.200000,3.841600e+05,0.003842,0.0,Buy New,BUY
2,000538-CN,YUNNAN BAIYAO GRP,5100.0,83.140000,4.240140e+05,0.004240,0.0,Buy New,BUY
3,000636-CN,FENGHUA ADV TECH,186700.0,16.070008,3.000270e+06,0.030003,0.0,Buy New,BUY
4,000656-CN,JINKE PROPERTY GRO,166000.0,6.570000,1.090620e+06,0.010906,0.0,Buy New,BUY

In [80]:
data = data.assign(ZQDM = data.Symbol.apply(lambda x : x[:6]),
                  WTFX = data.Action.apply(lambda x : np.where(x == 'BUY', 1, -1)),
                  JGMS = '',
                  JYSC = data.Symbol.apply(lambda x : np.where(x[0] == '6', 1, 2)))

In [81]:
data.head()

,Symbol,Description,Shares,Price (Ԫ),Trade Value (Ԫ),Trade Value (%),Transaction Cost (Ԫ),Trade Type,Action,ZQDM,WTFX,JGMS,JYSC
0,000157-CN,ZOOMLION HVY IND S,698700.0,4.530000,3.165111e+06,0.031651,0.0,Buy New,BUY,000157,1,,2
1,000338-CN,WEICHAI POWER CO,34300.0,11.200000,3.841600e+05,0.003842,0.0,Buy New,BUY,000338,1,,2
2,000538-CN,YUNNAN BAIYAO GRP,5100.0,83.140000,4.240140e+05,0.004240,0.0,Buy New,BUY,000538,1,,2
3,000636-CN,FENGHUA ADV TECH,186700.0,16.070008,3.000270e+06,0.030003,0.0,Buy New,BUY,000636,1,,2
4,000656-CN,JINKE PROPERTY GRO,166000.0,6.570000,1.090620e+06,0.010906,0.0,Buy New,BUY,000656,1,,2

In [82]:
output = data.copy()
# 拿到我们需要的数据
output = output.iloc[:, [9, 10, 2, 6, 11, 12]]
# 对字段进行重命名
output.columns = ['ZQDM', 'WTFX', 'ZLSL', 'ZLJG', 'JGMS', 'JYSC']

In [83]:
output

      ZQDM  WTFX       ZLSL  ZLJG JGMS  JYSC
0   000157     1   698700.0   0.0          2
1   000338     1    34300.0   0.0          2
2   000538     1     5100.0   0.0          2
3   000636     1   186700.0   0.0          2
4   000656     1   166000.0   0.0          2
5   000703     1   213000.0   0.0          2
6   000858     1    17500.0   0.0          2
7   000860     1    53600.0   0.0          2
8   002299     1    43900.0   0.0          2
9   002353     1    73300.0   0.0          2
10  002475     1   146800.0   0.0          2
11  002563     1   264100.0   0.0          2
12  300033     1    33700.0   0.0          2
13  600021     1   275600.0   0.0          1
14  600025     1   779300.0   0.0          1
15  600153     1    42800.0   0.0          1
16  600170     1   825800.0   0.0          1
17  600352     1    22800.0   0.0          1
18  600390     1   120700.0   0.0          1
19  600519     1      400.0   0.0          1
20  600585     1    25200.0   0.0          1
21  600606     1   432500.0   0.0          1
22  600690     1   121200.0   0.0          1
23  600782     1   382700.0   0.0          1
24  600801     1   146300.0   0.0          1
25  600875     1   284100.0   0.0          1
26  600999     1   133000.0   0.0          1
27  601009     1   436900.0   0.0          1
28  601155     1    79300.0   0.0          1
29  601211     1   196200.0   0.0          1
30  601288     1  1167200.0   0.0          1
31  601318     1    79800.0   0.0          1
32  601328     1   731800.0   0.0          1
33  601360     1    39200.0   0.0          1
34  601398     1   241300.0   0.0          1
35  601607     1   147800.0   0.0          1
36  601633     1   396800.0   0.0          1
37  601818     1   892800.0   0.0          1
38  603568     1   117900.0   0.0          1
39  603806     1    32400.0   0.0          1
40  603816     1    51200.0   0.0          1

In [84]:
output.to_csv('result.csv', index=False)