In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
# import tushare as ts
# import QUANTAXIS as QA
import talib as ta
import datetime, time
from dateutil.relativedelta import *
from pandas.tseries.offsets import *

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [4]:
comp = pd.read_csv('data/fundamental.zip', 
                   parse_dates=['datadate'], infer_datetime_format=True)
comp = comp.drop(['indfmt', 'consol', 'popsrc', 'datafmt'], axis=1)

In [5]:
comp.head()

,gvkey,datadate,fyearq,fqtr,tic,cusip,conm,curcdq,datacqtr,datafqtr,dlttq,oiadpq,pstkq,exchg,costat,mkvaltq
0,1000,1973-03-31,1973,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1973Q1,1973Q1,7.0,NaN,0.0,12.0,I,NaN
1,1000,1973-06-30,1973,2,AE.2,000032102,A & E PLASTIK PAK INC,USD,1973Q2,1973Q2,7.0,NaN,0.0,12.0,I,NaN
2,1000,1973-09-30,1973,3,AE.2,000032102,A & E PLASTIK PAK INC,USD,1973Q3,1973Q3,7.0,NaN,0.0,12.0,I,NaN
3,1000,1973-12-31,1973,4,AE.2,000032102,A & E PLASTIK PAK INC,USD,1973Q4,1973Q4,7.0,3.837,0.0,12.0,I,NaN
4,1000,1974-03-31,1974,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1974Q1,1974Q1,7.0,NaN,0.0,12.0,I,NaN