In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
# import scipy
# import tushare as ts
import wrds
import talib as ta
import datetime, time

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

using database

In [32]:
db = wrds.Connection(wrds_username='kpu2019')

Loading library list...
Done

Exception during reset or similar
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\pool.py", line 709, in _finalize_fairy
    fairy._reset(pool)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\pool.py", line 880, in _reset
    pool._dialect.do_rollback(self)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 457, in do_rollback
    dbapi_connection.rollback()
psycopg2.DatabaseError: SSL SYSCALL error: Software caused connection abort (0x00002745/10053)

In [12]:
db.list_tables('crsp')

In [30]:
# 这样看格式, 不如直接看数据的来得好
db.describe_table('crsp', 'msf')

Approximately 4509850 rows in crsp.msf.

        name  nullable              type
0      cusip      True        VARCHAR(8)
1     permno      True  DOUBLE PRECISION
2     permco      True  DOUBLE PRECISION
3     issuno      True  DOUBLE PRECISION
4      hexcd      True  DOUBLE PRECISION
5     hsiccd      True  DOUBLE PRECISION
6       date      True              DATE
7      bidlo      True  DOUBLE PRECISION
8      askhi      True  DOUBLE PRECISION
9        prc      True  DOUBLE PRECISION
10       vol      True  DOUBLE PRECISION
11       ret      True  DOUBLE PRECISION
12       bid      True  DOUBLE PRECISION
13       ask      True  DOUBLE PRECISION
14    shrout      True  DOUBLE PRECISION
15    cfacpr      True  DOUBLE PRECISION
16   cfacshr      True  DOUBLE PRECISION
17    altprc      True  DOUBLE PRECISION
18    spread      True  DOUBLE PRECISION
19  altprcdt      True              DATE
20      retx      True  DOUBLE PRECISION

```python
test = db.get_table('crsp', 'msf', obs=100)
test.head().T

sql_str = 'select * from crsp.msf LIMIT 10'
test = db.raw_sql(sql_str)
test.head().T
```

In [25]:
test.head().T

                   0           1           2           3           4
cusip       68391610    68391610    68391610    68391610    68391610
permno         10000       10000       10000       10000       10000
permco          7952        7952        7952        7952        7952
issuno         10396       10396       10396       10396       10396
hexcd              3           3           3           3           3
hsiccd          3990        3990        3990        3990        3990
date      1985-12-31  1986-01-31  1986-02-28  1986-03-31  1986-04-30
bidlo            NaN        -2.5       -3.25       -3.25          -4
askhi            NaN     -4.4375      -4.375     -4.4375     -4.3125
prc              NaN      -4.375       -3.25     -4.4375          -4
vol              NaN        1771         828        1078         957
ret              NaN         NaN   -0.257143    0.365385  -0.0985916
bid             None        None        None        None        None
ask             None        None        None        None        None
shrout           NaN        3680        3680        3680        3793
cfacpr           NaN           1           1           1           1
cfacshr          NaN           1           1           1           1
altprc       -2.5625      -4.375       -3.25     -4.4375          -4
spread           NaN        0.25        0.25       0.125        0.25
altprcdt  1986-01-07  1986-01-31  1986-02-28  1986-03-31  1986-04-30
retx             NaN         NaN   -0.257143    0.365385  -0.0985916

In [27]:
for i in test.columns:
    print(i)

cusip
permno
permco
issuno
hexcd
hsiccd
date
bidlo
askhi
prc
vol
ret
bid
ask
shrout
cfacpr
cfacshr
altprc
spread
altprcdt
retx

In [65]:
sql_str = """
select cusip, permno, permco, date, prc, vol, shrout, ret, retx, cfacpr, cfacshr 
from crsp.msf 
where permno in (14593, 90319, 12490, 17778) and date = '2013-01-04'
"""

In [66]:
test = db.raw_sql(sql_str)

In [67]:
test.head()

Empty DataFrame
Columns: [cusip, permno, permco, date, prc, vol, shrout, ret, retx, cfacpr, cfacshr]
Index: []