In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
# import scipy
# import tushare as ts
import wrds
import talib as ta
import datetime, time

In [ ]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [5]:
# wrds library test
tic = time.process_time()
db = wrds.Connection(wrds_username='kpu2019')
# db.create_pgpass_file()
# db.close()
toc = time.process_time()
print(toc - tic)

Loading library list...
Done
1.1875

In [7]:
db.close()

In [9]:
# djones = db.get_table('djones', 'djdaily', columns=['date', 'dji'])
# djones.tail()

在家的时候，关掉kexue，然后再试试，不过目前这个都不是关键

首先得知道拿哪些数据

然后是数据怎么拿

最后是怎么算

```
这数据合并也是个问题，大数据还真没这么好弄...
https://www.one-tab.com/page/y4wxyt9OTJyBV6jFonwvBQ
https://www.one-tab.com/page/Lj13psymSLqlI81p493Rew
https://www.one-tab.com/page/NRqjEJ_ETDGipRQesYSozw
```

首先看拿哪些数据

In [64]:
# data.query('RETX == "B"')
# data.query('TICKER == "C"')

In [4]:
data = pd.read_csv('data/return.zip', parse_dates=['date'], infer_datetime_format=True,
                  dtype={'PERMCO':str})

E:\ProgramData\Anaconda3\envs\quant\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
data.query('RET == "B"')

,PERMNO,date,TICKER,COMNAM,PERMCO,CUSIP,PRC,RET,SHROUT,RETX
2594,10058,1974-11-29,NaN,A B K C O INDUSTRIES INC,20,00077410,NaN,B,1470.0,B
2595,10058,1974-12-31,NaN,A B K C O INDUSTRIES INC,20,00077410,NaN,B,1470.0,B
4931,10621,1983-04-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4932,10621,1983-05-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4933,10621,1983-06-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4934,10621,1983-07-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4935,10621,1983-08-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4936,10621,1983-09-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4937,10621,1983-10-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4938,10621,1983-11-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4939,10621,1983-12-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4940,10621,1984-01-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4941,10621,1984-02-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4942,10621,1984-03-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4943,10621,1984-04-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4944,10621,1984-05-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4945,10621,1984-06-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4946,10621,1984-07-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4947,10621,1984-08-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4948,10621,1984-09-28,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4949,10621,1984-10-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4950,10621,1984-11-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4951,10621,1984-12-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4952,10621,1985-01-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4953,10621,1985-02-28,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4954,10621,1985-03-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4955,10621,1985-04-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4956,10621,1985-05-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4957,10621,1985-06-28,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4958,10621,1985-07-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
...,...,...,...,...,...,...,...,...,...,...
2888193,89397,2008-04-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888194,89397,2008-05-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888195,89397,2008-06-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888196,89397,2008-07-31,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888197,89397,2008-08-29,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888198,89397,2008-09-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888199,89397,2008-10-31,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888200,89397,2008-11-28,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888201,89397,2008-12-31,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2926345,90170,2008-12-31,NaN,ORAGENICS INC,45180,68402330,NaN,B,38318.0,B
2928164,90214,2007-09-28,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928165,90214,2007-10-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928166,90214,2007-11-30,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928167,90214,2007-12-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928168,90214,2008-01-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928169,90214,2008-02-29,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928170,90214,2008-03-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928171,90214,2008-04-30,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928172,90214,2008-05-30,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2939087,90498,2008-07-31,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939088,90498,2008-08-29,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939089,90498,2008-09-30,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939090,90498,2008-10-31,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939091,90498,2008-11-28,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939092,90498,2008-12-31,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2943812,90643,2008-11-28,NaN,ACCURIDE CORP,46538,00439T20,NaN,B,35726.0,B
2943813,90643,2008-12-31,NaN,ACCURIDE CORP,46538,00439T20,NaN,B,35726.0,B
2954072,90954,2008-10-31,NaN,MATHSTAR INC,47882,79379T20,NaN,B,9181.0,B
2954073,90954,2008-11-28,NaN,MATHSTAR INC,47882,79379T20,NaN,B,9181.0,B
2954074,90954,2008-12-31,NaN,MATHSTAR INC,47882,79379T20,NaN,B,9181.0,B

In [37]:
data = pd.read_csv('data/query3.zip', parse_dates=['date'], infer_datetime_format=True,
                  dtype={'PERMCO':str})
# data = pd.read_csv('query3.csv', parse_dates=['date'], infer_datetime_format=True,)
                   #dtype={'PRC':np.float64, 'SHROUT':np.float64})
data = data.set_index('date')
data.RETX = data.RETX.replace(['B', 'C'], [np.nan, np.nan]).astype(np.float64)
data = data.assign(MV=data.PRC.abs() * data.SHROUT,
                  RETPLUS=data.RETX+1)

```
PERMCO CRSP’s permanent company identifier.
PERMNO CRSP’s permanent issue identifier. One PERMNO belongs to only one PERMCO.
But One PERMCO can have one or more PERMNOs

言下之意,就是要用PERMCO来进行识别
```

In [38]:
data.head()

,PERMNO,TICKER,COMNAM,PERMCO,CUSIP,PRC,SHROUT,RETX,MV,RETPLUS
date,,,,,,,,,,
1985-12-31,10000,NaN,NaN,7952,68391610,NaN,NaN,NaN,NaN,NaN
1986-01-31,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.3750,3680.0,NaN,16100.0,NaN
1986-02-28,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-3.2500,3680.0,-0.257143,11960.0,0.742857
1986-03-31,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.4375,3680.0,0.365385,16330.0,1.365385
1986-04-30,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.0000,3793.0,-0.098592,15172.0,0.901408

In [17]:
data_dropna = data.dropna(subset=['TICKER', 'PERMNO'])

In [56]:
data = data.reset_index()
data = data.set_index(['date', 'PERMCO'])
data.head()

,,index,PERMNO,TICKER,COMNAM,CUSIP,PRC,SHROUT,RETX,MV,RETPLUS
date,PERMCO,,,,,,,,,,
1985-12-31,7952,0,10000,NaN,NaN,68391610,NaN,NaN,NaN,NaN,NaN
1986-01-31,7952,1,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-4.3750,3680.0,NaN,16100.0,NaN
1986-02-28,7952,2,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-3.2500,3680.0,-0.257143,11960.0,0.742857
1986-03-31,7952,3,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-4.4375,3680.0,0.365385,16330.0,1.365385
1986-04-30,7952,4,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-4.0000,3793.0,-0.098592,15172.0,0.901408

In [71]:
test2 = data.resample('Y', level=0).apply({'PERMNO':'last',
                                'TICKER':'last',
                                'COMNAM':'last',
                                'CUSIP':'last',
                                'PRC':'last',
                                'SHROUT':'last',
                                'RETX':'last',
                                'RETPLUS':'cumprod'})

E:\ProgramData\Anaconda3\envs\quant\lib\site-packages\pandas\core\indexes\datetimes.py:1232: RuntimeWarning: Cannot compare type 'Timestamp' with type 'tuple', sort order is undefined for incomparable objects
  this = Index.union(this, other)

AttributeError: 'Index' object has no attribute 'freq'

In [ ]:
test2.query('TICKER == "AOL"')

In [ ]:
data.resample('Y', level=0, how={'PERMNO':'last',
                                'TICKER':'last',
                                'COMNAM':'last',
                                'CUSIP':'last',
                                'PRC':'last',
                                'SHROUT':'last',
                                'RETX':'last',
                                'RETPLUS':'cumprod'})

In [39]:
cum_ret = data.groupby(['PERMCO', pd.Grouper(freq="Y")]).apply(lambda x : x.RETPLUS.cumprod())

In [ ]:
pd.DataFrame.resample()

In [31]:
# cum_ret_1 = cum_ret.reset_index()
cum_ret.head()

PERMCO  date        date
100     1973-12-31  1973-01-31    0.763819
                    1973-02-28    0.733668
                    1973-03-30    0.713568
                    1973-04-30    0.693467
                    1973-05-31    0.542714
Name: RETPLUS, dtype: float64

In [43]:
cum_ret.index = cum_ret.index.droplevel(1)

In [44]:
cum_ret.head()

PERMCO  date
100     1973-01-31    0.763819
        1973-02-28    0.733668
        1973-03-30    0.713568
        1973-04-30    0.693467
        1973-05-31    0.542714
Name: RETPLUS, dtype: float64

In [45]:
cum_ret = cum_ret.reset_index()
cum_ret.head()

  PERMCO       date   RETPLUS
0    100 1973-01-31  0.763819
1    100 1973-02-28  0.733668
2    100 1973-03-30  0.713568
3    100 1973-04-30  0.693467
4    100 1973-05-31  0.542714

In [48]:
cum_ret.columns = ['PERMCO', 'date', 'CUMRETX']
cum_ret.head()

  PERMCO       date   CUMRETX
0    100 1973-01-31  0.763819
1    100 1973-02-28  0.733668
2    100 1973-03-30  0.713568
3    100 1973-04-30  0.693467
4    100 1973-05-31  0.542714

In [47]:
cum_ret.shape

(2986697, 3)

In [75]:
data.shape

(2986697, 10)

In [76]:
data.columns

Index(['index', 'PERMNO', 'TICKER', 'COMNAM', 'CUSIP', 'PRC', 'SHROUT', 'RETX',
       'MV', 'RETPLUS'],
      dtype='object')

In [79]:
data.head()

,,index,PERMNO,TICKER,COMNAM,CUSIP,PRC,SHROUT,RETX,MV,RETPLUS
date,PERMCO,,,,,,,,,,
1985-12-31,7952,0,10000,NaN,NaN,68391610,NaN,NaN,NaN,NaN,NaN
1986-01-31,7952,1,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-4.3750,3680.0,NaN,16100.0,NaN
1986-02-28,7952,2,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-3.2500,3680.0,-0.257143,11960.0,0.742857
1986-03-31,7952,3,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-4.4375,3680.0,0.365385,16330.0,1.365385
1986-04-30,7952,4,10000,OMFGA,OPTIMUM MANUFACTURING INC,68391610,-4.0000,3793.0,-0.098592,15172.0,0.901408

In [77]:
test.columns

Index(['date', 'PERMCO', 'index', 'PERMNO', 'TICKER', 'COMNAM', 'CUSIP', 'PRC',
       'SHROUT', 'RETX', 'MV', 'RETPLUS', 'CUMRETX'],
      dtype='object')

In [78]:
set(test.columns) - set(data.columns)

{'CUMRETX', 'PERMCO', 'date'}

In [73]:
test = pd.merge(data, cum_ret, 'inner', on=['date', 'PERMCO'])

In [74]:
test.shape

(4289005, 13)

In [51]:
test = test.set_index('date')
test.head()

,PERMNO,TICKER,COMNAM,PERMCO,CUSIP,PRC,SHROUT,RETX,MV,RETPLUS,CUMRETX
date,,,,,,,,,,,
1985-12-31,10000,NaN,NaN,7952,68391610,NaN,NaN,NaN,NaN,NaN,NaN
1986-01-31,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.3750,3680.0,NaN,16100.0,NaN,NaN
1986-02-28,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-3.2500,3680.0,-0.257143,11960.0,0.742857,0.742857
1986-03-31,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.4375,3680.0,0.365385,16330.0,1.365385,1.014286
1986-04-30,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.0000,3793.0,-0.098592,15172.0,0.901408,0.914285

In [57]:
test.query('TICKER == "AOL"')['2000-12':'2001']

,PERMNO,TICKER,COMNAM,PERMCO,CUSIP,PRC,SHROUT,RETX,MV,RETPLUS,CUMRETX
date,,,,,,,,,,,
2000-12-29,77418,AOL,AMERICA ONLINE INC DEL,11412,88731730,34.80,2324112.0,-0.143068,8.087910e+07,0.856932,0.458649
2001-01-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,52.56,4144192.0,0.510345,2.178187e+08,1.510345,1.510345
2001-02-28,77418,AOL,A O L TIME WARNER INC,11412,88731730,44.03,4144192.0,-0.162291,1.824688e+08,0.837709,1.265230
2001-03-30,77418,AOL,A O L TIME WARNER INC,11412,88731730,40.15,4248098.0,-0.088122,1.705611e+08,0.911878,1.153735
2001-04-30,77418,AOL,A O L TIME WARNER INC,11412,88731730,50.50,4248098.0,0.257783,2.145289e+08,1.257783,1.451148
2001-05-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,52.19,4259407.0,0.033465,2.222985e+08,1.033465,1.499711
2001-06-29,77418,AOL,A O L TIME WARNER INC,11412,88731730,53.00,4259407.0,0.015520,2.257486e+08,1.015520,1.522987
2001-07-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,45.45,4259407.0,-0.142453,1.935900e+08,0.857547,1.306033
2001-08-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,37.35,4271788.0,-0.178218,1.595513e+08,0.821782,1.073274
2001-09-28,77418,AOL,A O L TIME WARNER INC,11412,88731730,33.10,4271788.0,-0.113788,1.413962e+08,0.886212,0.951148
2001-10-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,31.10,4271788.0,-0.060423,1.328526e+08,0.939577,0.893677
2001-11-30,77418,AOL,A O L TIME WARNER INC,11412,88731730,34.90,4255448.0,0.122187,1.485151e+08,1.122187,1.002873
2001-12-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,32.10,4255448.0,-0.080229,1.365999e+08,0.919771,0.922413

In [23]:
cum_ret = cum_ret.set_index('date')
cum_ret.head()

            PERMCO   RETPLUS
date
1973-01-31       2  1.179348
1973-02-28       2  1.331522
1973-03-30       2  1.527174
1973-04-30       2  1.586957
1973-05-31       2  1.847827

In [72]:
data.query('TICKER == "AOL"')['2000-12':'2002-01']

,PERMNO,TICKER,COMNAM,PERMCO,CUSIP,PRC,SHROUT,RETX,MV
date,,,,,,,,,
2000-12-29,77418,AOL,AMERICA ONLINE INC DEL,11412,88731730,34.80,2324112.0,-0.143068,8.087910e+07
2001-01-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,52.56,4144192.0,0.510345,2.178187e+08
2001-02-28,77418,AOL,A O L TIME WARNER INC,11412,88731730,44.03,4144192.0,-0.162291,1.824688e+08
2001-03-30,77418,AOL,A O L TIME WARNER INC,11412,88731730,40.15,4248098.0,-0.088122,1.705611e+08
2001-04-30,77418,AOL,A O L TIME WARNER INC,11412,88731730,50.50,4248098.0,0.257783,2.145289e+08
2001-05-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,52.19,4259407.0,0.033465,2.222985e+08
2001-06-29,77418,AOL,A O L TIME WARNER INC,11412,88731730,53.00,4259407.0,0.015520,2.257486e+08
2001-07-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,45.45,4259407.0,-0.142453,1.935900e+08
2001-08-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,37.35,4271788.0,-0.178218,1.595513e+08
2001-09-28,77418,AOL,A O L TIME WARNER INC,11412,88731730,33.10,4271788.0,-0.113788,1.413962e+08
2001-10-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,31.10,4271788.0,-0.060423,1.328526e+08
2001-11-30,77418,AOL,A O L TIME WARNER INC,11412,88731730,34.90,4255448.0,0.122187,1.485151e+08
2001-12-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,32.10,4255448.0,-0.080229,1.365999e+08
2002-01-31,77418,AOL,A O L TIME WARNER INC,11412,88731730,26.31,4255448.0,-0.180374,1.119608e+08

In [13]:
data.query('TICKER == "AOL"')

In [75]:
# data.query('TICKER == "AOL"')['2000-12':'2002-01']

这里需要注意的是这个必须按照ticker和年份来做

In [81]:
data = data.assign(RETPLUS=data.RETX+1)

In [ ]:
def calc_cum_ret(group):
    RET1 = group.RETX + 1
    group['CUM_RET'] = RET1.cumprod()
    return group
# data.groupby(['PERMCO', pd.Grouper(freq="Y")]).RETPLUS.cumprod()
data = data.groupby(['PERMCO', pd.Grouper(freq="Y")]).apply(calc_cum_ret)

In [14]:
data.RETPLUS.size

2986697

In [16]:
data.PERMNO.size

2986697

In [19]:
cum_ret = data.groupby(['PERMCO', pd.Grouper(freq="Y")]).apply(lambda x : x.RETPLUS.cumprod())

In [20]:
# data.groupby(['PERMCO', pd.Grouper(freq="Y")]).transform(lambda x : x.RETPLUS.cumprod())

In [21]:
cum_ret.index.

PERMCO  date        date
2       1973-12-31  1973-01-31    1.179348
                    1973-02-28    1.331522
                    1973-03-30    1.527174
                    1973-04-30    1.586957
                    1973-05-31    1.847827
Name: RETPLUS, dtype: float64

In [85]:
data.groupby(['PERMCO', pd.Grouper(freq="Y")]).RETX

In [76]:
(data.query('TICKER == "AOL"')['2001'].RETX + 1).cumprod()

date
2001-01-31    1.510345
2001-02-28    1.265230
2001-03-30    1.153735
2001-04-30    1.451148
2001-05-31    1.499711
2001-06-29    1.522987
2001-07-31    1.306033
2001-08-31    1.073274
2001-09-28    0.951148
2001-10-31    0.893677
2001-11-30    1.002873
2001-12-31    0.922413
Name: RETX, dtype: float64

In [60]:
test.groupby('PERMCO').resample('Y').apply('last')

                    PERMNO TICKER                          COMNAM PERMCO  \
PERMCO date
100    1973-12-31  68806.0   ASGN            A S G INDUSTRIES INC    100
       1974-12-31  68806.0   ASGN            A S G INDUSTRIES INC    100
       1975-12-31  68806.0   ASGN            A S G INDUSTRIES INC    100
       1976-12-31  68806.0   ASGN            A S G INDUSTRIES INC    100
       1977-12-31  68806.0   ASGN            A S G INDUSTRIES INC    100
       1978-12-31  68806.0   ASGN            A S G INDUSTRIES INC    100
       1979-12-31  68806.0   AFGN            A F G INDUSTRIES INC    100
       1980-12-31  68806.0   AFGN            A F G INDUSTRIES INC    100
       1981-12-31  68806.0   AFGN            A F G INDUSTRIES INC    100
       1982-12-31  68806.0   AFGN            A F G INDUSTRIES INC    100
       1983-12-31  68806.0   AFGN            A F G INDUSTRIES INC    100
       1984-12-31  68806.0   AFGN            A F G INDUSTRIES INC    100
       1985-12-31  68806.0   AFGN            A F G INDUSTRIES INC    100
       1986-12-31  68806.0    AFG            A F G INDUSTRIES INC    100
       1987-12-31  68806.0    AFG            A F G INDUSTRIES INC    100
       1988-12-31  68806.0    AFG            A F G INDUSTRIES INC    100
1000   1973-12-31  27960.0   CNHM        CUNNINGHAM ART PRODS INC   1000
       1974-12-31  27960.0   CNHM        CUNNINGHAM ART PRODS INC   1000
10000  1988-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1989-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1990-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1991-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1992-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1993-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1994-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1995-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1996-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1997-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1998-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
       1999-12-31  12236.0   NOVN       NOVEN PHARMACEUTICALS INC  10000
...                    ...    ...                             ...    ...
9998   2000-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2001-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2002-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2003-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2004-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2005-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2006-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2007-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
       2008-12-31  12214.0   LOGC               LOGIC DEVICES INC   9998
9999   1988-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1989-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1990-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1991-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1992-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1993-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1994-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1995-12-31  12166.0   FXBC          EXECUFIRST BANCORP INC   9999
       1996-12-31  12166.0   FRBK  FIRST REPUBLIC BANCORP INC NEW   9999
       1997-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       1998-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       1999-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2000-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2001-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2002-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2003-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2004-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2005-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2006-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2007-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999
       2008-12-31  12166.0   FRBK      REPUBLIC FIRST BANCORP INC   9999

                      CUSIP      PRC   SHROUT      RETX           MV  \
PERMCO date
100    1973-12-31  00105410  -4.6250   3006.0  0.000000   13902.7500
       1974-12-31  00105410  -0.9375   3006.0 -0.250000    2818.1250
       1975-12-31  00105410  -1.1250   3006.0 -0.250000    3381.7500
       1976-12-31  00105410  -2.1875   3006.0  0.060606    6575.6250
       1977-12-31  00105410  -2.3125   3006.0 -0.139535    6951.3750
       1978-12-31  00105410  -4.7500   5803.0 -0.116279   27564.2500
       1979-12-31  00105410  -3.7500   5806.0  0.200000   21772.5000
       1980-12-31  00105410  -3.9375   7526.0  0.145455   29633.6250
       1981-12-31  00105410 -10.5000   7529.0  0.024390   79054.5000
       1982-12-31  00105410 -23.8750   8281.0  0.224359  197708.8750
       1983-12-31  00105410  19.0000   9968.0 -0.105882  189392.0000
       1984-12-31  00105410  18.5000  10061.0  0.104478  186128.5000
       1985-12-31  00105410  25.1250   9624.0  0.057895  241803.0000
       1986-12-31  00105410  28.8750  16887.0  0.031250  487612.1250
       1987-12-31  00105410  27.0000  25427.0  0.161290  686529.0000
       1988-12-31  00105410  32.6250  24040.0  0.015564  784305.0000
1000   1973-12-31  23112010  -1.4375   1291.0 -0.281250    1855.8125
       1974-12-31  23112010  -2.0000   1291.0  0.000000    2582.0000
10000  1988-12-31  67000910  -2.7500  11059.0  0.100000   30412.2500
       1989-12-31  67000910  -3.5000  11368.0  0.000000   39788.0000
       1990-12-31  67000910  -2.0000  11501.0 -0.058824   23002.0000
       1991-12-31  67000910  -6.8750  12660.0 -0.112903   87037.5000
       1992-12-31  67000910  12.8750  15592.0  0.303797  200747.0000
       1993-12-31  67000910  14.1250  16148.0  0.008929  228090.5000
       1994-12-31  67000910  12.3750  18839.0 -0.175000  233132.6250
       1995-12-31  67000910  11.2500  19674.0  0.125000  221332.5000
       1996-12-31  67000910  14.0000  19832.0  0.037037  277648.0000
       1997-12-31  67000910   7.0000  20476.0 -0.017544  143332.0000
       1998-12-31  67000910   5.4375  21447.0  0.023529  116618.0625
       1999-12-31  67000910  18.1250  21515.0  0.400966  389959.3750
...                     ...      ...      ...       ...          ...
9998   2000-12-31  54140210   1.1875   6842.0 -0.136364    8124.8750
       2001-12-31  54140210   3.2000   6850.0  0.032258   21920.0000
       2002-12-31  54140210   1.0600   6631.0 -0.013954    7028.8600
       2003-12-31  54140210   1.8100   6666.0 -0.010929   12065.4600
       2004-12-31  54140210   1.5610   6743.0  0.164925   10525.8230
       2005-12-31  54140210   0.9564   6743.0 -0.062353    6449.0052
       2006-12-31  54140210   2.5600   6793.0 -0.003891   17390.0800
       2007-12-31  54140210   1.2700   6813.0 -0.239521    8652.5100
       2008-12-31  54140210   0.6900   6814.0 -0.103896    4701.6600
9999   1988-12-31  76041610  -9.1250   1226.0  0.000000   11187.2500
       1989-12-31  76041610  -6.1250   1226.0 -0.155172    7509.2500
       1990-12-31  76041610  -3.2500   1226.0  0.000000    3984.5000
       1991-12-31  76041610  -3.2500   1226.0  0.000000    3984.5000
       1992-12-31  76041610   3.3750   1226.0 -0.018182    4137.7500
       1993-12-31  76041610   4.1250   1226.0  0.015385    5057.2500
       1994-12-31  76041610   3.7500   1226.0  0.153846    4597.5000
       1995-12-31  76041610   5.2500   1226.0 -0.086957    6436.5000
       1996-12-31  76041610   9.9375   2848.0  0.223077   28302.0000
       1997-12-31  76041610  13.1250   3446.0  0.019417   45228.7500
       1998-12-31  76041610  10.5000   5548.0  0.012048   58254.0000
       1999-12-31  76041610   5.1875   6103.0 -0.186275   31659.3125
       2000-12-31  76041610   3.7500   6183.0 -0.062500   23186.2500
       2001-12-31  76041610   4.9400   6183.0 -0.051823   30544.0200
       2002-12-31  76041610   6.5010   6230.0  0.048548   40501.2300
       2003-12-31  76041610  12.1900   6522.0 -0.063028   79503.1800
       2004-12-31  76041610  15.3000   7236.0  0.007242  110710.8000
       2005-12-31  76041610  13.1500   8754.0  0.078753  115115.1000
       2006-12-31  76041610  12.9494   9496.0 -0.009985  122967.5024
       2007-12-31  76041610   6.9499  10321.0 -0.085539   71729.9179
       2008-12-31  76041610   8.8000  10631.0  0.058965   93552.8000

                    RETPLUS   CUMRETX
PERMCO date
100    1973-12-31  1.000000  0.371859
       1974-12-31  0.750000  0.202702
       1975-12-31  0.750000  1.199999
       1976-12-31  1.060606  1.944443
       1977-12-31  0.860465  1.057142
       1978-12-31  0.883721  2.054054
       1979-12-31  1.200000  0.789473
       1980-12-31  1.145455  1.050000
       1981-12-31  1.024390  2.666664
       1982-12-31  1.224359  2.273810
       1983-12-31  0.894118  1.193717
       1984-12-31  1.104478  0.973684
       1985-12-31  1.057895  1.358110
       1986-12-31  1.031250  1.723881
       1987-12-31  1.161290  1.402598
       1988-12-31  1.015564  1.208332
1000   1973-12-31  0.718750  0.110577
       1974-12-31  1.000000  1.391304
10000  1988-12-31  1.100000  1.100000
       1989-12-31  1.000000  1.272726
       1990-12-31  0.941176  0.571429
       1991-12-31  0.887097  3.437497
       1992-12-31  1.303797  1.872728
       1993-12-31  1.008929  1.097089
       1994-12-31  0.825000  0.876106
       1995-12-31  1.125000  0.909091
       1996-12-31  1.037037  1.244444
       1997-12-31  0.982456  0.500000
       1998-12-31  1.023529  0.776784
       1999-12-31  1.400966  3.333333
...                     ...       ...
9998   2000-12-31  0.863636  0.380000
       2001-12-31  1.032258  2.694737
       2002-12-31  0.986046  0.331250
       2003-12-31  0.989071  1.707547
       2004-12-31  1.164925  0.862432
       2005-12-31  0.937647  0.612684
       2006-12-31  0.996109  2.676701
       2007-12-31  0.760479  0.496094
       2008-12-31  0.896104  0.543307
9999   1988-12-31  1.000000  1.000000
       1989-12-31  0.844828  0.671234
       1990-12-31  1.000000  0.530612
       1991-12-31  1.000000  1.000001
       1992-12-31  0.981818  1.038461
       1993-12-31  1.015385  1.222223
       1994-12-31  1.153846  0.909091
       1995-12-31  0.913043  1.400000
       1996-12-31  1.223077  1.892857
       1997-12-31  1.019417  1.584904
       1998-12-31  1.012048  0.960000
       1999-12-31  0.813725  0.543451
       2000-12-31  0.937500  0.722892
       2001-12-31  0.948177  1.317334
       2002-12-31  1.048548  1.315990
       2003-12-31  0.936972  1.875095
       2004-12-31  1.007242  1.380640
       2005-12-31  1.078753  1.211627
       2006-12-31  0.990015  1.083221
       2007-12-31  0.914461  0.590366
       2008-12-31  1.058965  1.266206

[263095 rows x 11 columns]