In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
# import scipy
# import tushare as ts
import wrds
import talib as ta
import datetime, time

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [4]:
db = wrds.Connection(wrds_username='kpu2019')

Enter your WRDS username [kite]:kpu2019
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [5]:
db.create_pgpass_file()

In [6]:
db.close()

In [10]:
db = wrds.Connection(wrds_username='kpu2019')

Loading library list...
Done

In [14]:
djones = db.get_table('djones', 'djdaily', columns=['date', 'dji'])

In [15]:
djones.tail()

             date       dji
28068  2008-06-13  12307.35
28069  2008-06-16  12269.08
28070  2008-06-17  12160.30
28071  2008-06-18  12029.06
28072  2008-06-19  12063.09