In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
import pandas_datareader.data as web

需要考虑复权的问题

In [8]:
data = web.get_data_yahoo("SPY", start="2018-02-28", end="2018-04-30")

In [9]:
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-02-27,278.920013,274.359985,278.109985,274.429993,99099200.0,270.887115
2018-02-28,276.190002,271.290009,275.679993,271.649994,121907800.0,268.143005
2018-03-01,273.170013,266.000000,271.410004,267.700012,176855100.0,264.244049
2018-03-02,269.720001,264.820007,265.799988,269.079987,139083200.0,265.606201
2018-03-05,272.890015,267.609985,267.730011,272.190002,97307400.0,268.676025

In [10]:
symbol_list = pd.read_excel('data/etf_pair_code.xlsx', sheet_name=1, dtype={'symbol':str})

In [11]:
symbol_list.head()

  symbol     region
0   MSFT  US Equity
1   AAPL  US Equity
2      V  US Equity
3   INTC  US Equity
4   CSCO  US Equity

In [16]:
symbol_list.loc[220:235]

     symbol     region
220    RENN  US Equity
221     885  HK Equity
222    1149  HK Equity
223      61  HK Equity
224    1236  HK Equity
225     LKM  US Equity
226    GLUU  US Equity
227  036570  KS Equity
228    TTWO  US Equity
229    9766  JP Equity
230     GME  US Equity
231     799  HK Equity
232    ZNGA  US Equity
233    9697  JP Equity
234  263750  KS Equity
235    3659  JP Equity

In [12]:
symbol_list.region.value_counts()

US Equity     817
HK Equity      54
JP Equity      17
KS Equity       8
LN Equity       6
SS Equity       6
TT Equity       6
NO Equity       2
FH Equity       2
CN Equity       2
GR Equity       1
NA Equity       1
HKD Curncy      1
ita             1
FP Equity       1
Name: region, dtype: int64

In [29]:
etf_list = pd.read_excel('data/etf_pair_code.xlsx', sheet_name=0, dtype={'symbol':str})