In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
# import tushare as ts
# import QUANTAXIS as QA
import talib as ta
import datetime, time
from dateutil.relativedelta import *
from pandas.tseries.offsets import *

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [4]:
comp = pd.read_csv('data/fundamental.zip', 
                   parse_dates=['datadate'], infer_datetime_format=True)
comp = comp.drop(['indfmt', 'consol', 'popsrc', 'datafmt'], axis=1)

In [13]:
comp.drop()

,gvkey,datadate,fyearq,fqtr,tic,cusip,conm,curcdq,datacqtr,datafqtr,dlttq,oiadpq,pstkq,exchg,costat,mkvaltq
0,1000,1973-03-31,1973,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1973Q1,1973Q1,7.000,NaN,0.000,12.0,I,NaN
4,1000,1974-03-31,1974,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1974Q1,1974Q1,7.000,NaN,0.000,12.0,I,NaN
8,1000,1975-03-31,1975,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1975Q1,1975Q1,7.000,NaN,0.414,12.0,I,NaN
12,1000,1976-03-31,1976,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1976Q1,1976Q1,10.114,1.719,2.069,12.0,I,NaN
16,1000,1977-03-31,1977,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1977Q1,1977Q1,15.350,1.381,1.569,12.0,I,NaN
20,1000,1978-03-31,1978,1,AE.2,000032102,A & E PLASTIK PAK INC,USD,1978Q1,1978Q1,17.779,0.753,0.000,12.0,I,NaN
21,1001,1983-03-31,1983,1,AMFD.,000165100,A & M FOOD SERVICES INC,USD,1983Q1,1983Q1,NaN,0.110,NaN,14.0,I,NaN
25,1001,1984-03-31,1984,1,AMFD.,000165100,A & M FOOD SERVICES INC,USD,1984Q1,1984Q1,4.198,0.351,0.000,14.0,I,NaN
29,1001,1985-03-31,1985,1,AMFD.,000165100,A & M FOOD SERVICES INC,USD,1985Q1,1985Q1,4.079,0.579,0.000,14.0,I,NaN
33,1001,1986-03-31,1986,1,AMFD.,000165100,A & M FOOD SERVICES INC,USD,1986Q1,1986Q1,11.411,0.596,0.000,14.0,I,NaN
34,1003,1982-03-31,1982,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1982Q1,1982Q1,NaN,NaN,NaN,19.0,I,NaN
38,1003,1983-03-31,1983,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1983Q1,1983Q1,NaN,0.274,NaN,19.0,I,NaN
42,1003,1984-03-31,1984,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1984Q1,1984Q1,0.600,0.136,0.000,19.0,I,NaN
46,1003,1985-04-30,1985,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1985Q1,1985Q1,NaN,0.076,NaN,19.0,I,NaN
50,1003,1986-04-30,1986,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1986Q1,1986Q1,5.679,0.262,0.000,19.0,I,NaN
54,1003,1987-04-30,1987,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1987Q1,1987Q1,5.460,0.330,0.000,19.0,I,NaN
58,1003,1988-04-30,1988,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1988Q1,1988Q1,6.892,-0.554,0.000,19.0,I,NaN
62,1003,1989-04-30,1989,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1989Q1,1989Q1,NaN,-0.523,NaN,19.0,I,NaN
66,1003,1990-04-30,1990,1,ANTQ,000354100,A.A. IMPORTING CO INC,USD,1990Q1,1990Q1,0.068,-0.710,0.000,19.0,I,NaN
71,1004,1973-08-31,1973,1,AIR,000361105,AAR CORP,USD,1973Q3,1973Q1,4.427,NaN,0.000,11.0,A,NaN
75,1004,1974-08-31,1974,1,AIR,000361105,AAR CORP,USD,1974Q3,1974Q1,12.363,NaN,0.000,11.0,A,NaN
79,1004,1975-08-31,1975,1,AIR,000361105,AAR CORP,USD,1975Q3,1975Q1,12.100,1.046,0.000,11.0,A,NaN
83,1004,1976-08-31,1976,1,AIR,000361105,AAR CORP,USD,1976Q3,1976Q1,13.563,1.249,0.000,11.0,A,NaN
87,1004,1977-08-31,1977,1,AIR,000361105,AAR CORP,USD,1977Q3,1977Q1,14.070,1.123,0.000,11.0,A,NaN
91,1004,1978-08-31,1978,1,AIR,000361105,AAR CORP,USD,1978Q3,1978Q1,18.070,1.942,0.000,11.0,A,NaN
95,1004,1979-08-31,1979,1,AIR,000361105,AAR CORP,USD,1979Q3,1979Q1,20.068,2.340,0.000,11.0,A,NaN
99,1004,1980-08-31,1980,1,AIR,000361105,AAR CORP,USD,1980Q3,1980Q1,23.896,2.220,0.000,11.0,A,NaN
103,1004,1981-08-31,1981,1,AIR,000361105,AAR CORP,USD,1981Q3,1981Q1,37.111,2.365,0.000,11.0,A,NaN
107,1004,1982-08-31,1982,1,AIR,000361105,AAR CORP,USD,1982Q3,1982Q1,27.329,2.533,0.000,11.0,A,NaN
111,1004,1983-08-31,1983,1,AIR,000361105,AAR CORP,USD,1983Q3,1983Q1,26.610,2.385,0.000,11.0,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217685,284041,2007-05-31,2007,1,OCZTQ,67086E303,OCZ TECHNOLOGY GROUP INC,USD,2007Q2,2007Q1,NaN,0.954,NaN,19.0,I,NaN
1217689,284041,2008-05-31,2008,1,OCZTQ,67086E303,OCZ TECHNOLOGY GROUP INC,USD,2008Q2,2008Q1,NaN,NaN,NaN,19.0,I,NaN
1217692,284722,2006-12-31,2007,1,PTXT,74373K109,PROTONEX TECHNOLOGY CORP,USD,2006Q4,2007Q1,NaN,NaN,NaN,19.0,I,NaN
1217696,284722,2007-12-31,2008,1,PTXT,74373K109,PROTONEX TECHNOLOGY CORP,USD,2007Q4,2008Q1,NaN,NaN,NaN,19.0,I,NaN
1217700,284722,2008-12-31,2009,1,PTXT,74373K109,PROTONEX TECHNOLOGY CORP,USD,2008Q4,2009Q1,NaN,NaN,NaN,19.0,I,NaN
1217701,285135,2008-03-31,2008,1,GLBS,Y27265407,GLOBUS MARITIME LTD,USD,2008Q1,2008Q1,NaN,NaN,NaN,14.0,A,NaN
1217705,285313,2007-03-31,2007,1,BSBR,05967A107,BANCO SANTANDER BRASIL -ADR,USD,2007Q1,2007Q1,NaN,NaN,NaN,11.0,A,NaN
1217709,285313,2008-03-31,2008,1,BSBR,05967A107,BANCO SANTANDER BRASIL -ADR,USD,2008Q1,2008Q1,NaN,NaN,NaN,11.0,A,NaN
1217713,285493,2006-03-31,2006,1,TETHF,G87636125,TETHYS PETROLEUM LTD,CAD,2006Q1,2006Q1,NaN,-0.739,NaN,19.0,A,NaN
1217717,285493,2007-03-31,2007,1,TETHF,G87636125,TETHYS PETROLEUM LTD,CAD,2007Q1,2007Q1,3.605,-1.933,0.000,19.0,A,NaN
1217721,285493,2008-03-31,2008,1,TETHF,G87636125,TETHYS PETROLEUM LTD,CAD,2008Q1,2008Q1,4.644,-4.004,0.000,19.0,A,NaN
1217725,285536,2008-03-31,2008,1,MODL,60689B107,MMODAL INC,USD,2008Q1,2008Q1,NaN,NaN,NaN,14.0,I,NaN
1217729,285660,2005-03-31,2005,1,FAR.,F4269M103,FORACO INTL SA,CAD,2005Q1,2005Q1,NaN,NaN,NaN,7.0,A,NaN
1217733,285660,2006-03-31,2006,1,FAR.,F4269M103,FORACO INTL SA,CAD,2006Q1,2006Q1,NaN,0.161,NaN,7.0,A,NaN
1217737,285660,2007-03-31,2007,1,FAR.,F4269M103,FORACO INTL SA,CAD,2007Q1,2007Q1,16.783,2.466,0.000,7.0,A,NaN
1217741,285660,2008-03-31,2008,1,FAR.,F4269M103,FORACO INTL SA,CAD,2008Q1,2008Q1,3.579,6.666,0.000,7.0,A,185.2033
1217745,286253,2008-03-31,2008,1,RPSE,76199U930,RESEARCH PHARMACL SVCS -REDH,USD,2008Q1,2008Q1,NaN,2.245,NaN,14.0,I,NaN
1217749,287106,2008-03-31,2008,1,GMNFF,38020T102,GOBIMIN INC,CAD,2008Q1,2008Q1,0.000,0.681,0.000,19.0,A,172.0506
1217753,287296,2007-09-30,2008,1,POLJF,G6844A115,POLO RESOURCES LTD,CAD,2007Q3,2008Q1,NaN,NaN,NaN,19.0,A,NaN
1217757,287296,2008-09-30,2009,1,POLJF,G6844A115,POLO RESOURCES LTD,CAD,2008Q3,2009Q1,NaN,NaN,NaN,19.0,A,NaN
1217759,287882,2006-03-31,2006,1,EC,279158109,ECOPETROL SA,USD,2006Q1,2006Q1,NaN,NaN,NaN,11.0,A,NaN
1217763,287882,2007-03-31,2007,1,EC,279158109,ECOPETROL SA,USD,2007Q1,2007Q1,NaN,NaN,NaN,11.0,A,NaN
1217767,287882,2008-03-31,2008,1,EC,279158109,ECOPETROL SA,USD,2008Q1,2008Q1,NaN,NaN,NaN,11.0,A,NaN
1217771,289319,2007-09-30,2008,1,RSOX,76083G302,RESACA EXPLOITATION INC-REDH,USD,2007Q3,2008Q1,NaN,NaN,NaN,12.0,I,NaN
1217775,289319,2008-09-30,2009,1,RSOX,76083G302,RESACA EXPLOITATION INC-REDH,USD,2008Q3,2009Q1,NaN,0.038,NaN,12.0,I,NaN
1217777,291721,2007-03-31,2007,1,ORXGF,G6769T115,ORCA EXPLORATION GROUP INC,CAD,2007Q1,2007Q1,0.000,0.466,0.000,19.0,A,216.2074
1217781,291721,2008-03-31,2008,1,ORXGF,G6769T115,ORCA EXPLORATION GROUP INC,CAD,2008Q1,2008Q1,0.000,0.521,0.000,19.0,A,256.3396
1217785,293754,2008-03-31,2008,1,GNMX,00835P105,AEVI GENOMIC MEDICINE INC,USD,2008Q1,2008Q1,NaN,NaN,NaN,14.0,A,NaN
1217789,293884,2008-03-31,2008,1,INXN,N47279109,INTERXION HOLDING NV,USD,2008Q1,2008Q1,NaN,NaN,NaN,11.0,A,NaN
1217793,294524,2008-03-31,2008,1,LYB,N53745100,LYONDELLBASELL INDUSTRIES NV,USD,2008Q1,2008Q1,NaN,376.000,NaN,11.0,A,NaN

按照gvkey, fyear, fqtr==1来进行resample;
groupby肯定是按照gvkey来进行的, 然后再按照fyear进行resample到year,

In [ ]:
pd.cut()

In [6]:
crsp_name = pd.read_csv('data/crsp_name.csv', 
                   parse_dates=['namedt','nameendt'], infer_datetime_format=True)

In [7]:
crsp_name.head()

   Unnamed: 0   permno  shrcd  exchcd     namedt   nameendt
0           0  10000.0   10.0     3.0 1986-01-07 1986-12-03
1           1  10000.0   10.0     3.0 1986-12-04 1987-03-09
2           2  10000.0   10.0     3.0 1987-03-10 1987-06-11
3           3  10001.0   11.0     3.0 1986-01-09 1993-11-21
4           4  10001.0   11.0     3.0 1993-11-22 2004-06-09