In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import QUANTAXIS as QA
import talib as ta
import datetime, time

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [4]:
code = '000300'

In [5]:
start = '1990-01-01'
end = datetime.datetime.today().strftime('%Y-%m-%d')

In [6]:
data = QA.QA_fetch_index_day_adv(code, start, end)

In [14]:
data.data.head()

,,amount,close,date_stamp,down_count,high,low,open,up_count,vol,volume
date,code,,,,,,,,,,
2005-01-04,000300,4.431976e+09,982.79,1.104768e+09,0,994.76,980.65,994.76,0,74128.0,74128.0
2005-01-05,000300,4.529207e+09,992.56,1.104854e+09,0,997.32,979.87,981.57,0,71191.0,71191.0
2005-01-06,000300,3.921015e+09,983.17,1.104941e+09,0,993.78,980.33,993.33,0,62880.0,62880.0
2005-01-07,000300,4.737468e+09,983.95,1.105027e+09,0,995.71,979.81,983.04,0,72986.0,72986.0
2005-01-10,000300,3.762931e+09,993.87,1.105286e+09,0,993.95,979.78,983.76,0,57916.0,57916.0

In [17]:
data.data.index.get_level_values(0)[-1]

Timestamp('2019-03-29 00:00:00')

In [18]:
def trailing_rsrs(df, N=18):
    df.rolling()
    high = high.values
    low = low.values
    X = sm.add_constant(low)
    model = sm.OLS(high, X)
    result_fit = model.fit()
    beta = result_fit.params[1]
    beta_adj = result_fit.rsquared
    res = pd.DataFrame(
        {
            'beta':beta,
            'beta_adj':beta_adj
        }, index = df.index
    )

In [ ]:
data.add_func()