In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
import QUANTAXIS as QA
import talib as ta
import datetime #, time

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
code = '002366'

我们需要试一下在1分钟，5分钟，30分钟，60分钟，120分钟，日k的数据

因为只能取到最近2万根bar的数据

先看看一天有多少根1分钟的数据

20000 / (60 * 4)

In [4]:
20000 / (60 * 4)

83.33333333333333

In [5]:
start = '2018-07-01'
end = '2018-12-14'

In [6]:
data = QA.QA_fetch_get_stock_min('tdx', code, start, end)

QUANTAXIS>> Selecting the Best Server IP of TDX

USING DEFAULT STOCK IP
USING DEFAULT FUTURE IP

QUANTAXIS>> === The BEST SERVER ===
 stock_ip 60.191.117.167 future_ip 202.103.36.71

In [7]:
data.head()

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type
datetime,,,,,,,,,,,,
2018-08-03 10:31:00,12.92,12.88,12.92,12.88,54300.0,700054.000000,2018-08-03 10:31:00,002366,2018-08-03,1.533226e+09,1.533263e+09,1min
2018-08-03 10:32:00,12.87,12.87,12.88,12.86,7900.0,101669.015625,2018-08-03 10:32:00,002366,2018-08-03,1.533226e+09,1.533264e+09,1min
2018-08-03 10:33:00,12.86,12.89,12.90,12.86,10300.0,132781.000000,2018-08-03 10:33:00,002366,2018-08-03,1.533226e+09,1.533264e+09,1min
2018-08-03 10:34:00,12.90,12.89,12.90,12.89,12000.0,154726.000000,2018-08-03 10:34:00,002366,2018-08-03,1.533226e+09,1.533264e+09,1min
2018-08-03 10:35:00,12.91,12.91,12.92,12.91,30100.0,388594.000000,2018-08-03 10:35:00,002366,2018-08-03,1.533226e+09,1.533264e+09,1min

In [ ]:
QA.QA_data_tick_resample()