In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
us_data = pd.read_csv('data/us_data.csv')

In [4]:
us_data.head()

,Date,High,Low,Open,Close,Volume,Adj Close,code
0,2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,24.345514,MSFT
1,2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.720928,MSFT
2,2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.728914,MSFT
3,2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,24.577150,MSFT
4,2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,24.321552,MSFT

In [8]:
us_data.columns = ['date', 'high', 'low', 'open', 'close', 'volume', 'Adj Close', 'code']

In [9]:
us_data.head()

,date,high,low,open,close,volume,Adj Close,code
0,2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,24.345514,MSFT
1,2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.720928,MSFT
2,2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.728914,MSFT
3,2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,24.577150,MSFT
4,2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,24.321552,MSFT

In [13]:
us_data = us_data.set_index(['date', 'code'])
# us_data = us_data.reset_index()
us_data.head()

,,high,low,open,close,volume,Adj Close
date,code,,,,,,
2009-12-31,MSFT,30.990000,30.480000,30.980000,30.480000,31929700.0,24.345514
2010-01-04,MSFT,31.100000,30.590000,30.620001,30.950001,38409100.0,24.720928
2010-01-05,MSFT,31.100000,30.639999,30.850000,30.959999,49749600.0,24.728914
2010-01-06,MSFT,31.080000,30.520000,30.879999,30.770000,58182400.0,24.577150
2010-01-07,MSFT,30.700001,30.190001,30.629999,30.450001,50559700.0,24.321552

In [14]:
us_data = QA.QA_DataStruct_Stock_day(us_data)

In [15]:
us_data.data.head()

                      high        low       open      close      volume  \
date       code
2009-12-31 A     22.725323  22.124464  22.203148  22.224607   5224600.0
           AABA  16.959999  16.770000  16.920000  16.780001   9515600.0
           AAP   41.110001  40.480000  41.110001  40.480000    894500.0
           AAPL  30.478571  30.080000  30.447144  30.104286  88102700.0
           AAXN   4.430000   4.320000   4.400000   4.380000    400400.0

                 Adj Close
date       code
2009-12-31 A     20.562288
           AABA  16.780001
           AAP   39.562489
           AAPL  20.159719
           AAXN   4.380000

In [ ]:
QA.QA_DataStruct_Stock_day()

In [5]:
test_data = QA.QA_fetch_stock_day_adv('000001', '2018-01-01', '2018-12-21')

In [7]:
test_data.data.head()

                    open   high    low  close     volume        amount
date       code
2018-01-02 000001  13.35  13.93  13.32  13.70  2081592.0  2.856544e+09
2018-01-03 000001  13.73  13.86  13.20  13.33  2962498.0  4.006221e+09
2018-01-04 000001  13.32  13.37  13.13  13.25  1854509.0  2.454544e+09
2018-01-05 000001  13.21  13.35  13.15  13.30  1210312.0  1.603289e+09
2018-01-08 000001  13.25  13.29  12.86  12.96  2158620.0  2.806099e+09