In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
import pandas_datareader.data as web
import datetime

In [4]:
symbol_list = pd.read_excel('data/etf_pair_code.xlsx', 1, dtype={'symbol':str})

In [7]:
symbol_list[symbol_list.region == 'HK Equity'].head()

    symbol     region
160    700  HK Equity
163    992  HK Equity
164   2382  HK Equity
165    981  HK Equity
166   2018  HK Equity

In [8]:
symbol_list.region.value_counts()

US Equity     817
HK Equity      54
JP Equity      17
KS Equity       8
TT Equity       6
SS Equity       6
LN Equity       6
FH Equity       2
NO Equity       2
CN Equity       2
NA Equity       1
GR Equity       1
HKD Curncy      1
ita             1
FP Equity       1
Name: region, dtype: int64

In [17]:
symbol_list.query("region=='HK Equity'").head()

    symbol     region
160    700  HK Equity
163    992  HK Equity
164   2382  HK Equity
165    981  HK Equity
166   2018  HK Equity

In [22]:
hk_symbol_list = symbol_list.query("region=='HK Equity'").symbol
hk_symbol_list = hk_symbol_list.apply(lambda x : x.zfill(4)+'.hk')
hk_symbol_list.head()

160    0700.hk
163    0992.hk
164    2382.hk
165    0981.hk
166    2018.hk
Name: symbol, dtype: object

In [23]:
start = '2010-01-01'
end = '2018-12-21'
for i in hk_symbol_list:
    temp_data = web.DataReader(i, 'yahoo', start, end)

0700.hk <class 'str'>
0992.hk <class 'str'>
2382.hk <class 'str'>
0981.hk <class 'str'>
2018.hk <class 'str'>
0522.hk <class 'str'>
0696.hk <class 'str'>
0148.hk <class 'str'>
0268.hk <class 'str'>
3396.hk <class 'str'>
3888.hk <class 'str'>
0763.hk <class 'str'>
0354.hk <class 'str'>
3969.hk <class 'str'>
0968.hk <class 'str'>
1347.hk <class 'str'>
0285.hk <class 'str'>
3800.hk <class 'str'>
1888.hk <class 'str'>
6088.hk <class 'str'>
8083.hk <class 'str'>
0582.hk <class 'str'>
0861.hk <class 'str'>
6869.hk <class 'str'>
1357.hk <class 'str'>
2662.hk <class 'str'>
0777.hk <class 'str'>
0698.hk <class 'str'>
1686.hk <class 'str'>
1089.hk <class 'str'>
0327.hk <class 'str'>
2280.hk <class 'str'>
1385.hk <class 'str'>
0732.hk <class 'str'>
1980.hk <class 'str'>
0818.hk <class 'str'>
3336.hk <class 'str'>
3393.hk <class 'str'>
8279.hk <class 'str'>
2342.hk <class 'str'>
0877.hk <class 'str'>
0031.hk <class 'str'>
8227.hk <class 'str'>
0862.hk <class 'str'>
0434.hk <class 'str'>
0085.hk <class 'str'>
0633.hk <class 'str'>
2369.hk <class 'str'>
0885.hk <class 'str'>
1149.hk <class 'str'>
0061.hk <class 'str'>
1236.hk <class 'str'>
0799.hk <class 'str'>
1337.hk <class 'str'>