In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime, time

先拿不复权, 前复权, 后复权数据做对比

然后怎么在几个之间进行转换

最后是怎么做到更新数据

In [15]:
code = '000001'
start = '2000-01-01'
end = '2018-12-31'

In [16]:
data = QA.QA_fetch_stock_day_adv(code, start, end)
data_qfq = data.to_qfq()
data_hfq = data.to_hfq()

In [26]:
data.data.head()

                    open   high    low  close    volume       amount
date       code
2000-01-04 000001  17.50  18.55  17.20  18.29   82160.0  147325360.0
2000-01-05 000001  18.35  18.85  18.00  18.06   93993.0  173475152.0
2000-01-06 000001  18.02  19.05  17.75  18.78  120222.0  221192512.0
2000-01-07 000001  19.00  19.77  18.90  19.54  229346.0  443592448.0
2000-01-10 000001  19.79  20.48  19.77  20.14  185210.0  372294496.0

In [27]:
data.data.tail()

                   open  high   low  close    volume       amount
date       code
2018-12-24 000001  9.40  9.45  9.31   9.42  509117.0  477186912.0
2018-12-25 000001  9.29  9.43  9.21   9.34  586615.0  545235584.0
2018-12-26 000001  9.35  9.42  9.27   9.30  421140.0  393215136.0
2018-12-27 000001  9.45  9.49  9.28   9.28  624593.0  586343744.0
2018-12-28 000001  9.31  9.46  9.31   9.38  576604.0  541571008.0

In [17]:
data_qfq.data.head()

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
2000-01-04,000001,3.452521,3.659673,3.393335,3.608378,4.164493e+05,147325360.0,NaN,0.197287
2000-01-05,000001,3.620215,3.718859,3.551165,3.563002,4.764279e+05,173475152.0,3.608378,0.197287
2000-01-06,000001,3.555111,3.758316,3.501843,3.705049,6.093764e+05,221192512.0,3.563002,0.197287
2000-01-07,000001,3.748452,3.900363,3.728723,3.854987,1.162500e+06,443592448.0,3.705049,0.197287
2000-01-10,000001,3.904308,4.040436,3.900363,3.973359,9.387849e+05,372294496.0,3.854987,0.197287

In [18]:
data_qfq.data.tail()

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
2018-12-24,000001,9.40,9.45,9.31,9.42,509117.0,477186912.0,9.45,1.0
2018-12-25,000001,9.29,9.43,9.21,9.34,586615.0,545235584.0,9.42,1.0
2018-12-26,000001,9.35,9.42,9.27,9.30,421140.0,393215136.0,9.34,1.0
2018-12-27,000001,9.45,9.49,9.28,9.28,624593.0,586343744.0,9.30,1.0
2018-12-28,000001,9.31,9.46,9.31,9.38,576604.0,541571008.0,9.28,1.0

In [19]:
data_hfq.data.head()

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
2000-01-04,000001,17.50,18.55,17.20,18.29,82160.0,147325360.0,NaN,1.0
2000-01-05,000001,18.35,18.85,18.00,18.06,93993.0,173475152.0,18.29,1.0
2000-01-06,000001,18.02,19.05,17.75,18.78,120222.0,221192512.0,18.06,1.0
2000-01-07,000001,19.00,19.77,18.90,19.54,229346.0,443592448.0,18.78,1.0
2000-01-10,000001,19.79,20.48,19.77,20.14,185210.0,372294496.0,19.54,1.0

In [20]:
data_hfq.data.tail()

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
2018-12-24,000001,47.646338,47.899776,47.190150,47.747714,100442.131700,477186912.0,47.899776,5.068759
2018-12-25,000001,47.088775,47.798401,46.683274,47.342213,115731.474469,545235584.0,47.747714,5.068759
2018-12-26,000001,47.392900,47.747714,46.987400,47.139462,83085.419155,393215136.0,47.342213,5.068759
2018-12-27,000001,47.899776,48.102527,47.038087,47.038087,123224.037628,586343744.0,47.139462,5.068759
2018-12-28,000001,47.190150,47.950464,47.190150,47.544963,113756.434978,541571008.0,47.038087,5.068759

In [56]:
data.data.close * data_qfq.data.adj * (data_qfq.data.adj[-1] / data_qfq.data.adj[0])

date        code
2000-01-04  000001    18.290000
2000-01-05  000001    18.060000
2000-01-06  000001    18.780000
2000-01-07  000001    19.540000
2000-01-10  000001    20.140000
2000-01-11  000001    19.000000
2000-01-12  000001    18.240000
2000-01-13  000001    18.140000
2000-01-14  000001    17.880000
2000-01-17  000001    18.080000
2000-01-18  000001    17.690000
2000-01-19  000001    17.790000
2000-01-20  000001    17.810000
2000-01-21  000001    17.960000
2000-01-24  000001    17.500000
2000-01-25  000001    17.720000
2000-01-26  000001    17.640000
2000-01-27  000001    17.890000
2000-01-28  000001    18.530000
2000-02-14  000001    20.370000
2000-02-15  000001    19.440000
2000-02-16  000001    18.830000
2000-02-17  000001    18.800000
2000-02-18  000001    18.410000
2000-02-21  000001    18.910000
2000-02-22  000001    18.250000
2000-02-23  000001    18.100000
2000-02-24  000001    18.180000
2000-02-25  000001    18.090000
2000-02-28  000001    18.560000
                        ...
2018-11-19  000001    54.996040
2018-11-20  000001    53.576787
2018-11-21  000001    53.779537
2018-11-22  000001    53.475412
2018-11-23  000001    52.309597
2018-11-26  000001    52.410972
2018-11-27  000001    51.599971
2018-11-28  000001    52.106847
2018-11-29  000001    51.701346
2018-11-30  000001    52.512347
2018-12-03  000001    53.678162
2018-12-04  000001    53.678162
2018-12-05  000001    52.968536
2018-12-06  000001    51.954784
2018-12-07  000001    52.106847
2018-12-10  000001    51.549283
2018-12-11  000001    51.853409
2018-12-12  000001    51.904096
2018-12-13  000001    52.664410
2018-12-14  000001    51.549283
2018-12-17  000001    52.157534
2018-12-18  000001    51.295845
2018-12-19  000001    50.383469
2018-12-20  000001    49.217654
2018-12-21  000001    47.899776
2018-12-24  000001    47.747714
2018-12-25  000001    47.342213
2018-12-26  000001    47.139462
2018-12-27  000001    47.038087
2018-12-28  000001    47.544963
Length: 4435, dtype: float64

In [31]:
data_hfq.close[-1] / data_hfq.close[0]

2.599505918301756

In [32]:
data_qfq.close[-1] / data_qfq.close[0]

2.599505918301694