In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime, time

先拿不复权, 前复权, 后复权数据做对比

然后怎么在几个之间进行转换

最后是怎么做到更新数据

In [2]:
code = '000001'
start = '2000-01-01'
end = '2018-12-31'

In [3]:
data = QA.QA_fetch_stock_day_adv(code, start, end)
data_qfq = data.to_qfq()
data_hfq = data.to_hfq()

In [4]:
data.data.head()

                    open   high    low  close    volume       amount
date       code
2000-01-04 000001  17.50  18.55  17.20  18.29   82160.0  147325360.0
2000-01-05 000001  18.35  18.85  18.00  18.06   93993.0  173475152.0
2000-01-06 000001  18.02  19.05  17.75  18.78  120222.0  221192512.0
2000-01-07 000001  19.00  19.77  18.90  19.54  229346.0  443592448.0
2000-01-10 000001  19.79  20.48  19.77  20.14  185210.0  372294496.0

In [5]:
data.data.tail()

                   open  high   low  close    volume       amount
date       code
2018-12-24 000001  9.40  9.45  9.31   9.42  509117.0  477186912.0
2018-12-25 000001  9.29  9.43  9.21   9.34  586615.0  545235584.0
2018-12-26 000001  9.35  9.42  9.27   9.30  421140.0  393215136.0
2018-12-27 000001  9.45  9.49  9.28   9.28  624593.0  586343744.0
2018-12-28 000001  9.31  9.46  9.31   9.38  576604.0  541571008.0

In [21]:
# data_qfq.data.head()

In [23]:
# data_qfq.data.tail()

In [24]:
# data_hfq.data.head()

In [25]:
# data_hfq.data.tail()

In [17]:
qfq_adj = data_qfq.close / data.close

In [28]:
hfq_close = data_qfq.close * (qfq_adj[-1] / qfq_adj[0])

In [26]:
hfq_adj = data_hfq.close / data.close

In [29]:
qfq_close = data_hfq.close * (hfq_adj[0] / hfq_adj[-1])