In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime
from utils import *

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [ ]:
np.nanmean()

In [ ]:
def position_side(ratio, avg_method='all', period=14):
    """
    Implements:
        按照不同的平均方法, 计算出要做多和做空的标的;
    
    Arguments:
        ratio -- Series数据类型, 两个标的Adj Close之比算出的值;
        avg_method -- 字符串数据类型, 表示采取何种求平均值的方法
                    -- all, 表示用当前bar之前所有的ratio值求平均
                    -- rolling, 表示用最近一段时间的ratio值做算术移动平均值
                    -- ewm, 表示用最近一段时间的ratio值做指数移动平均值
        period -- integer, 当avg_method为rolling或者ewm时, 需要计算最近多少根bar的平均值
    
    Returns:
        position_side_series -- Series数据类型, 用于指示做多还是做空
    """
    if avg_method == 'all':
        position_side_list = []
        for i in range(ratio.shape[0]):
            if i > 1:
                temp_mean = np.nanmean(ratio[:i-1])
                if ratio[i] > temp_mean:
                    position_side_list.append(1)
                elif ratio[i] < temp_mean:
                    position_side_list.append(-1)
                else:
                    position_side_list.append(np.nan)
            elif i == 1:
                if ratio[1] > ratio[0]:
                    position_side_list.append(1)
                elif ratio[1] < ratio[0]:
                    position_side_list.append(-1)
                else:
                    position_side_list.append(np.nan)
            elif i == 0:
                position_side_list.append(np.nan)
        position_side_series = pd.Series(position_side_list, ratio.index)
    elif avg_method == 'rolling':
        position_side_series = pd.Series(np.where(ratio>ratio.rolling(period).apply(lambda x : np.nanmean(x)), 1, -1).tolist(), ratio.index)
    elif avg_method == 'ewm':
        position_side_series = pd.Series(np.where(ratio>ratio.ewm(span=period).apply(lambda x : np.nanmean(x)), 1, -1).tolist(), ratio.index)
    return position_side_series

In [5]:
np.array(etf_list)

array(['XLK', 'PNQI', 'CQQQ', 'GAMR', 'PSJ', 'SKYY', 'HACK', 'SOXX', 'SMH',
       'XLV', 'IBB', 'ITA', 'XLP', 'XLY', 'IAI', 'VDE', 'XLB'],
      dtype='<U4')

In [20]:
from utils import *

In [21]:
result =  calc_pair_trading('CQQQ', data_source='us', method='rolling', period=170)

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

In [22]:
result['long_short_return'].sum().sum()

-0.24343934377263493

In [19]:
calc_pair_trading??

In [10]:
us_data.index.get_level_values(1).unique()

Index(['MSFT', 'AAPL', 'V', 'INTC', 'CSCO', 'MA', 'ORCL', 'AVGO', 'ADBE',
       'IBM',
       ...
       'MLM', 'MOS', 'FMC', 'WRK', 'EMN', 'CF', 'ALB', 'PKG', 'AVY', 'SEE'],
      dtype='object', name='code', length=810)

In [23]:
result_smh =  calc_pair_trading('SMH', method='rolling', period=170)

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

In [24]:
result_smh['long_short_return'].sum().sum()

0.033217590457789506

把PJT的数据导出来, 整体数据;
和人家做ratio的数据, 应该能看出端倪

In [4]:
data_pjt = select_code(us_data, 'PJT')

In [13]:
data_pjt.tail()

                 high        low       open      close    volume  Adj Close
date
2018-12-17  40.150002  38.340000  39.990002  38.700001  195400.0  38.700001
2018-12-18  39.279999  38.430000  38.980000  39.230000  154900.0  39.230000
2018-12-19  39.810001  38.040001  39.000000  38.529999  147800.0  38.529999
2018-12-20  38.509998  37.009998  38.240002  37.380001  187700.0  37.380001
2018-12-21  37.803001  35.919998  37.389999  36.139999  272200.0  36.139999

In [6]:
get_code_list_by_etf(code_list_by_sector, 'IAI')

    symbol     region etf_symbol      sector
869    CME  US Equity        IAI  Financials
870    ICE  US Equity        IAI  Financials
871     GS  US Equity        IAI  Financials
872     MS  US Equity        IAI  Financials
873   SCHW  US Equity        IAI  Financials
874   AMTD  US Equity        IAI  Financials
875   MKTX  US Equity        IAI  Financials
876   CBOE  US Equity        IAI  Financials
877   NDAQ  US Equity        IAI  Financials
878   ETFC  US Equity        IAI  Financials
879    RJF  US Equity        IAI  Financials
880   LPLA  US Equity        IAI  Financials
881   IBKR  US Equity        IAI  Financials
882    LAZ  US Equity        IAI  Financials
883     SF  US Equity        IAI  Financials
884   VIRT  US Equity        IAI  Financials
885    EVR  US Equity        IAI  Financials
886    ITG  US Equity        IAI  Financials
887    HLI  US Equity        IAI  Financials
888     MC  US Equity        IAI  Financials
889    PJC  US Equity        IAI  Financials
890   BGCP  US Equity        IAI  Financials
891    PJT  US Equity        IAI  Financials
892   DHIL  US Equity        IAI  Financials
893   INTL  US Equity        IAI  Financials
894   COWN  US Equity        IAI  Financials
895    GHL  US Equity        IAI  Financials

In [7]:
result = single_pair_trading(us_data, 'PJT', 'CME')

In [9]:
result['ratio']

date
2009-12-31         NaN
2010-01-04         NaN
2010-01-05         NaN
2010-01-06         NaN
2010-01-07    0.003860
2010-01-08         NaN
2010-01-11         NaN
2010-01-12         NaN
2010-01-13         NaN
2010-01-14         NaN
2010-01-15         NaN
2010-01-19    0.004142
2010-01-20         NaN
2010-01-21         NaN
2010-01-22         NaN
2010-01-25         NaN
2010-01-26         NaN
2010-01-27         NaN
2010-01-28         NaN
2010-01-29         NaN
2010-02-01         NaN
2010-02-02         NaN
2010-02-03         NaN
2010-02-04         NaN
2010-02-05    0.004365
2010-02-08         NaN
2010-02-09         NaN
2010-02-10         NaN
2010-02-11    0.006142
2010-02-12    0.006016
                ...
2018-11-08    0.258248
2018-11-09    0.248050
2018-11-12    0.246888
2018-11-13    0.246049
2018-11-14    0.242055
2018-11-15    0.243181
2018-11-16    0.238248
2018-11-19    0.235942
2018-11-20    0.245552
2018-11-21    0.249386
2018-11-23    0.249249
2018-11-26    0.251660
2018-11-27    0.242106
2018-11-28    0.257216
2018-11-29    0.251953
2018-11-30    0.249136
2018-12-03    0.253557
2018-12-04    0.235410
2018-12-06    0.234707
2018-12-07    0.233071
2018-12-10    0.229630
2018-12-11    0.228167
2018-12-12    0.232381
2018-12-13    0.226615
2018-12-14    0.214933
2018-12-17    0.208524
2018-12-18    0.214618
2018-12-19    0.207675
2018-12-20    0.202163
2018-12-21    0.197865
Name: Adj Close, Length: 2260, dtype: float64

In [10]:
result['long_return']

19.258958406547105

In [12]:
result['long_short_return']

-1074.8141130245988

In [11]:
result['long_asset']

date
2009-12-31    NaN
2010-01-04    NaN
2010-01-05    NaN
2010-01-06    NaN
2010-01-07    NaN
2010-01-08    NaN
2010-01-11    NaN
2010-01-12    NaN
2010-01-13    NaN
2010-01-14    NaN
2010-01-15    NaN
2010-01-19    NaN
2010-01-20    PJT
2010-01-21    NaN
2010-01-22    NaN
2010-01-25    NaN
2010-01-26    NaN
2010-01-27    NaN
2010-01-28    NaN
2010-01-29    NaN
2010-02-01    NaN
2010-02-02    NaN
2010-02-03    NaN
2010-02-04    NaN
2010-02-05    NaN
2010-02-08    PJT
2010-02-09    NaN
2010-02-10    NaN
2010-02-11    NaN
2010-02-12    PJT
             ...
2018-11-08    CME
2018-11-09    CME
2018-11-12    CME
2018-11-13    CME
2018-11-14    CME
2018-11-15    CME
2018-11-16    CME
2018-11-19    CME
2018-11-20    CME
2018-11-21    CME
2018-11-23    CME
2018-11-26    CME
2018-11-27    CME
2018-11-28    CME
2018-11-29    CME
2018-11-30    CME
2018-12-03    CME
2018-12-04    CME
2018-12-06    CME
2018-12-07    CME
2018-12-10    CME
2018-12-11    CME
2018-12-12    CME
2018-12-13    CME
2018-12-14    CME
2018-12-17    CME
2018-12-18    CME
2018-12-19    CME
2018-12-20    CME
2018-12-21    CME
Length: 2260, dtype: object