In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
import QUANTAXIS as QA
import talib as ta
import datetime #, time

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [5]:
# usstock_list = QA.QA_fetch_get_usstock_list('tdx')
# usstock_list.head()

QUANTAXIS>> Selecting the Best Server IP of TDX

USING DEFAULT STOCK IP
USING DEFAULT FUTURE IP

QUANTAXIS>> === The BEST SERVER ===
 stock_ip 60.191.117.167 future_ip 202.103.36.71

In [7]:
# hkstock_list = QA.QA_fetch_get_hkstock_list('tdx')
# hkstock_list.head()

In [2]:
# writer = pd.ExcelWriter("data/code_list.xlsx")
# usstock_list.to_excel(writer, 'us_stock_list', index=False)
# hkstock_list.to_excel(writer, 'hk_stock_list', index=False)
# writer.save()

In [3]:
usstock_list_from_file = pd.read_excel("data/code_list.xlsx", 0, 
                                       dtype={'code':str, 'desc':str})
usstock_list_from_file = usstock_list_from_file.set_index('code')
usstock_list_from_file.head()

      category  market    name  desc
code
WEAR        13      74    WEAR  WEAR
WEAT        13      74  WEAT信托  WEAT
WEB         13      74     WEB   WEB
WEBK        13      74  韦尔斯利银行  WEBK
WEC         13      74  威斯康辛能源   WEC

In [4]:
hkstock_list_from_file = pd.read_excel("data/code_list.xlsx", 1, 
                                       dtype={'code':str, 'desc':str})
hkstock_list_from_file = hkstock_list_from_file.set_index('code')
hkstock_list_from_file.head()

       category  market    name   desc
code
08048         2      48  御德国际控股  08048
08049         2      48  吉林长龙药业  08049
08050         2      48    量子思维  08050
08051         2      48     讯智海  08051
08052         2      48    陆庆娱乐  08052

In [7]:
import pandas_datareader.data as web

In [3]:
code = 'AMZN'
start = '2010-01-01'
end = '2018-12-18'
# web.
data = QA.QA_fetch_get_usstock_day('tdx', code, start, end)

QUANTAXIS>> Selecting the Best Server IP of TDX

USING DEFAULT STOCK IP
USING DEFAULT FUTURE IP

QUANTAXIS>> === The BEST SERVER ===
 stock_ip 60.191.117.167 future_ip 202.103.36.71

In [15]:
data.head()

,open,high,low,close,position,trade,price,amount,date,code,date_stamp
date,,,,,,,,,,,
2010-01-04,136.250000,136.610001,133.139999,133.899994,0,75999,0.0,0.0,2010-01-04,AMZN,1.262534e+09
2010-01-05,133.429993,135.479996,131.809998,134.690002,0,88519,0.0,0.0,2010-01-05,AMZN,1.262621e+09
2010-01-06,134.600006,134.729996,131.649994,132.250000,0,71788,0.0,0.0,2010-01-06,AMZN,1.262707e+09
2010-01-07,132.009995,132.320007,128.800003,130.000000,0,110302,0.0,0.0,2010-01-07,AMZN,1.262794e+09
2010-01-08,130.559998,133.679993,129.029999,133.520004,0,98305,0.0,0.0,2010-01-08,AMZN,1.262880e+09

In [11]:
import datetime
start_time = datetime.datetime.strptime(start, '%Y-%m-%d')
end_time = datetime.datetime.today()
data_from_web = web.DataReader(code, 'yahoo', start_time, end_time)

In [14]:
data_from_web.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,137.279999,134.520004,137.089996,134.520004,4523000,134.520004
2010-01-04,136.610001,133.139999,136.250000,133.899994,7599900,133.899994
2010-01-05,135.479996,131.809998,133.429993,134.690002,8851900,134.690002
2010-01-06,134.729996,131.649994,134.600006,132.250000,7178800,132.250000
2010-01-07,132.320007,128.800003,132.009995,130.000000,11030200,130.000000

In [18]:
AMZN_close = data_from_web.loc[:, 'Adj Close'][1:]

In [19]:
MSFT_data = web.DataReader('MSFT', 'yahoo', start_time, end_time)

In [20]:
MSFT_close = MSFT_data.loc[:, 'Adj Close'][1:]

In [29]:
ratio = (AMZN_close / MSFT_close).sort_index(ascending=False)

In [30]:
ratio.head()

Date
2018-12-18    14.922381
2018-12-17    14.781903
2018-12-14    15.013770
2018-12-13    15.151942
2018-12-12    15.250642
Name: Adj Close, dtype: float64

In [34]:
ratio.size

2256

In [33]:
position_side = pd.Series()

In [ ]:
for i in range(ratio.size):
    if i != ratio.size - 1:
        if ratio[i] > np.mean(ratio[i+1:]):
            position_side[ratio.index[i]] = 'long'
        elif ratio[i] < np.mean(ratio[i+1:]):
            position_side[ratio.index[i]] = 'short'
        else:
            position_side[ratio.index[i]] = 0
    else:
        position_side[ratio.index[i]] = 0