1. ratio rsi数据已经整合到代码中， 并会进行保存;

    请查看下保存结果的表, rsi和rsi_mask是否是你想要的形式;
    
    比如rsi_mask中, 我将30~70之间的rsi值设为0, 其余的值保留原值;
    
    我之前设想过, 低于30用一个值代替，比如数字-1或者文字之类的, 这里就是看你的需要了;

2. 关于PX_HIGH, PX_LAST这里的`PX`是否是前复权的意思, 但这里的数据，只能是以后复权的形式去进行计算; 所以我需要知道后复权的字段是怎么样的;

3. 请运行以下代码并将保存的二进制的结果文件发给我

In [2]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import talib as ta
import datetime, time
import pickle

# import pdblp as pb
# import blpapi

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
def save_file(dataframe, name):
    
    with open(name, 'wb') as f:
        pickle.dump(dataframe, f)

In [4]:
con = pb.BCon(port=8194, timeout=5000)
con.start()

In [28]:
df_code = pd.read_excel('data/etf_pair_code.xlsx', dtype={'symbol':str})

In [30]:
ticker_list = (df_code.symbol + ' ' + df_code.region).unique().tolist()

### test 1

In [7]:
df_1 = pd.DataFrame()
err_code = []
tic = time.perf_counter()
for i in ticker_list:
    try:
        temp_df = con.bdh(i, ['PX_LAST', 'VOLUME'], '20181222', '20190109')
        
        try:
            df_1 = pd.concat([df_1, temp_df], axis=1)
        except:
            print('concat data has problem, ticker code : %s' % i)
        
    except:
        print('retrieve %s data, have something wrong' % i)
        err_code.append(i)
toc = time.perf_counter()

print('retrieve data cost time: %s' % (toc-tic))

retrieve HKD Curncy HKD Curncy data, have something wrong
retrieve ita ita data, have something wrong
retrieve data cost time: 333.686907963

如果test 1没有任何retrieve data报错，则只运行test 2, 否则就直接运行test 3

### test 2

In [ ]:
tic = time.perf_counter()

df_2 = con.bdh(ticker_list, ['PX_LAST', 'VOLUME'], '20181222', '20190109')

toc = time.perf_counter()

print('retrieve data cost time: %s' % (toc-tic))

### test 3

In [8]:
df_3 = con.bdh(['AAPL US Equity', 'SPY US Equity'], ['PX_LAST', 'VOLUME'],
        '20181222', '20190109')

### save file

请将保存的文件传给我, 文件名是以file_01 or file_02 or file_03

In [9]:
try:
    save_file(df_1, 'file_01')
    print("df_1 save finish.")
except:
    print("df_1 doesn't exist.")
    
try:
    save_file(df_2, 'file_02')
    print("df_2 save finish.")
except:
    print("df_2 doesn't exist.")

try:
    save_file(df_3, 'file_03')
    print("df_3 save finish.")
except:
    print("df_3 doesn't exist.")

df_1 save finish.
df_2 doesn't exist.
df_3 save finish.

In [4]:
with open('file_01', 'rb') as f:
    df_1 = pickle.load(f)

```python
df_1.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')
```

In [16]:
df_1.pivot_table()

KeyError: 'field'

In [13]:
df_1.head()

ticker     MSFT US Equity             AAPL US Equity             V US Equity  \
field             PX_LAST      VOLUME        PX_LAST      VOLUME     PX_LAST
date
2018-12-22            NaN         NaN            NaN         NaN         NaN
2018-12-24          94.13  43935192.0         146.83  37169232.0      121.73
2018-12-25            NaN         NaN            NaN         NaN         NaN
2018-12-26         100.56  51634793.0         157.17  58582544.0      130.23
2018-12-27         101.18  49498509.0         156.15  53117065.0      132.01

ticker                 INTC US Equity             CSCO US Equity              \
field           VOLUME        PX_LAST      VOLUME        PX_LAST      VOLUME
date
2018-12-22         NaN            NaN         NaN            NaN         NaN
2018-12-24   8617681.0          43.59  19241563.0        39.9705  24069389.0
2018-12-25         NaN            NaN         NaN            NaN         NaN
2018-12-26  13499510.0          46.19  28677632.0        42.1437  33335913.0
2018-12-27  10882979.0          46.36  29970725.0        42.5803  28404105.0

ticker        ...     CF US Equity            ALB US Equity             \
field         ...          PX_LAST     VOLUME       PX_LAST     VOLUME
date          ...
2018-12-22    ...              NaN        NaN           NaN        NaN
2018-12-24    ...            40.11  1218727.0         73.13   870206.0
2018-12-25    ...              NaN        NaN           NaN        NaN
2018-12-26    ...            42.60  2000047.0         76.28  1500278.0
2018-12-27    ...            43.24  2465610.0         77.22  1657080.0

ticker     PKG US Equity            AVY US Equity           SEE US Equity  \
field            PX_LAST     VOLUME       PX_LAST    VOLUME       PX_LAST
date
2018-12-22           NaN        NaN           NaN       NaN           NaN
2018-12-24         77.95   890442.0         83.79  312215.0         33.01
2018-12-25           NaN        NaN           NaN       NaN           NaN
2018-12-26         82.64  1354390.0         87.13  505563.0         34.14
2018-12-27         84.28  1032416.0         89.32  462465.0         34.59

ticker
field          VOLUME
date
2018-12-22        NaN
2018-12-24   761286.0
2018-12-25        NaN
2018-12-26  1508277.0
2018-12-27  1639673.0

[5 rows x 2099 columns]

In [27]:
df_1.loc[:, 'MSFT US Equity'].head()

field,PX_LAST,VOLUME,PX_LAST,VOLUME,PX_LAST,VOLUME,PX_LAST,VOLUME
date,,,,,,,,
2018-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-24,94.13,43935192.0,94.13,43935192.0,94.13,43935192.0,94.13,43935192.0
2018-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-26,100.56,51634793.0,100.56,51634793.0,100.56,51634793.0,100.56,51634793.0
2018-12-27,101.18,49498509.0,101.18,49498509.0,101.18,49498509.0,101.18,49498509.0

In [ ]:
df = pd.DataFrame()
err_code = []
tic = time.perf_counter()
fields = ['PX_HIGH', 'PX_OPEN', 'PX_LOW', 'PX_CLOSE', 'PX_VOLUME']
cols = ['Adj High', 'Adj Open', 'Adj Low', 'Adj Close', 'Adj Volume']
start = '20100101'
end = '20190110'

for i in ticker_list:
    try:
        temp_df = con.bdh(i, fields, start, end)
        temp_df = temp_df.loc[:, i]
        temp_df.columns = cols
        temp_df = temp_df.assign(code=i)
        
        try:
            df = pd.concat([df, temp_df], axis=0)
        except:
            print('concat data has problem, ticker code : %s' % i)
        
    except:
        print('retrieve %s data, have something wrong' % i)
        err_code.append(i)
toc = time.perf_counter()

print('retrieve data cost time: %s' % (toc-tic))