In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import talib as ta
import datetime, time
import pickle
from tqdm import tqdm_notebook

import pdblp as pb
import blpapi

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
con = pb.BCon(port=8194, timeout=5000)
con.start()

In [4]:
df_code = pd.read_excel('data/etf_pair_code.xlsx', dtype={'symbol':str})
code_list = df_code.symbol.unique().tolist()
ticker_list = (df_code.symbol + ' ' + df_code.region).fillna('ita').unique().tolist()

### test 1

In [5]:
df = pd.DataFrame()
err_code = []
tic = time.perf_counter()
fields = ['HIGH', 'OPEN', 'LOW', 'VOLUME', 'PX_LAST']
cols = ['High', 'Open', 'Low', 'Volume', 'Adj Close']
start = '20100101'
end = '20190115'



for num,i in tqdm_notebook(enumerate(ticker_list)):
    if (num % 100 == 0) & (num != 0):
        time.sleep(5)
    try:
        temp_df = con.bdh(i, fields, start, end)
        temp_df = temp_df.loc[:, i]
        temp_df.columns = cols
        temp_df = temp_df.assign(code=i.split(' ')[0])

        try:
            df = pd.concat([df, temp_df], axis=0)
        except:
            print('concat data has problem, ticker code : %s' % i)

    except:
        print('retrieve %s data, have something wrong, index:%s' % (i, ticker_list.index(i)))
        err_code.append(i)
toc = time.perf_counter()

print('retrieve data cost time: %s' % (toc-tic))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

retrieve IUGXX US Equity data, have something wrong, index:145
retrieve HKD Curncy data, have something wrong, index:210
retrieve TRPXX US Equity data, have something wrong, index:275
retrieve GVMXX US Equity data, have something wrong, index:413
retrieve BRIXX US Equity data, have something wrong, index:511
retrieve ita data, have something wrong, index:620
retrieve KORS US Equity data, have something wrong, index:718

retrieve data cost time: 1024.268109704

In [6]:
df.head()

               High     Open      Low      Volume  Adj Close  code
date
2010-01-04  24.8407  24.4573  24.4334  38414185.0    24.7209  MSFT
2010-01-05  24.8407  24.6410  24.4733  49758862.0    24.7289  MSFT
2010-01-06  24.8247  24.6650  24.3775  58182332.0    24.5771  MSFT
2010-01-07  24.5212  24.4653  24.1139  50564285.0    24.3231  MSFT
2010-01-08  24.6650  24.1858  24.1538  51201289.0    24.4893  MSFT

In [7]:
df.tail()

               High   Open    Low     Volume  Adj Close code
date
2019-01-09  36.1600  35.92  35.24  1582666.0      35.27  SEE
2019-01-10  36.3200  35.21  35.20  1141760.0      36.09  SEE
2019-01-11  36.7281  36.01  35.81  1425600.0      36.57  SEE
2019-01-14  36.6500  36.38  36.09  1130188.0      36.48  SEE
2019-01-15  36.7000  36.38  36.20   781775.0      36.67  SEE

In [8]:
df.to_csv('data/data.csv')

In [9]:
%load_ext autoreload
%autoreload 2

from utils import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
result = calc_pair_trading('SMH', 
                           data_source='ol',
                           region='all',
                           method='rolling', 
                           period=245, 
                           is_saving=True, 
                           save_name='rsi_sample')

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

finish, see you

如果上述代码没有问题，可以尝试以下代码

### test 2

暂先剔除HKD Curncy 和 ita

In [11]:
ticker_list.remove('HKD Curncy')
ticker_list.remove('ita')

In [12]:
intervals = np.linspace(0, len(ticker_list), 10, dtype=int)

In [13]:
tic = time.perf_counter()

df = pd.DataFrame()

for i in tqdm_notebook(range(len(intervals)-1)):
    
    time.sleep(5)
    
    temp_list = ticker_list[intervals[i]:intervals[i+1]]
    
    temp_df = con.bdh(temp_list, fields, start, end)

    temp_df = pd.concat([temp_df[x].assign(code=x.split(' ')[0]).groupby(level=0, axis=1).first() for x in temp_df.columns.levels[0]], 
              axis=0,sort=False).reset_index().set_index(['date', 'code'])
    temp_df.columns = cols
    
    df = pd.concat([df, temp_df], axis=0)

toc = time.perf_counter()

print('retrieve data cost time: %s' % (toc-tic))

HBox(children=(IntProgress(value=0, max=9), HTML(value='')))

retrieve data cost time: 184.01159243400002

In [14]:
# tic = time.perf_counter()

# df = con.bdh(ticker_list, fields, start, end)

# df = pd.concat([df[x].assign(code=x.split(' ')[0]).groupby(level=0, axis=1).first() for x in df.columns.levels[0]], 
#           axis=0,sort=False).reset_index().set_index(['date', 'code'])
# df.columns = cols

# toc = time.perf_counter()

# print('retrieve data cost time: %s' % (toc-tic))

In [15]:
df.to_csv('data/data.csv')

In [16]:
result = calc_pair_trading('SMH', 
                           data_source='ol',
                           region='all',
                           method='rolling', 
                           period=245, 
                           is_saving=True, 
                           save_name='rsi_sample')

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

finish, see you