In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import talib as ta
import datetime, time
import pickle
from tqdm import tqdm_notebook

import pdblp as pb
import blpapi

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
def save_file(dataframe, name):
    
    with open(name, 'wb') as f:
        pickle.dump(dataframe, f)

In [4]:
con = pb.BCon(port=8194, timeout=5000)
con.start()

In [45]:
df_code = pd.read_excel('data/etf_pair_code.xlsx', dtype={'symbol':str})

In [46]:
code_list = df_code.symbol.unique().tolist()

In [47]:
ticker_list = (df_code.symbol + ' ' + df_code.region).fillna('ita').unique().tolist()

In [62]:
with open('err_code.txt', 'r') as f:
    err_list = f.readlines()

In [63]:
err_list = [x.split('\n')[0] for x in err_list]

In [64]:
for i in err_list:
    print(ticker_list.index(i))

145
210
275
413
511
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779

In [73]:
for num,i in tqdm_notebook(enumerate(ticker_list)):
    if (num % 100 == 0) & (num != 0):
        time.sleep(5)
        print('need sleep')
        print(num, i)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

need sleep
100 JCOM US Equity
need sleep
200 SFUN US Equity
need sleep
300 OTEX CN Equity
need sleep
400 ALGN US Equity
need sleep
500 PACB US Equity
need sleep
600 SGYP US Equity
need sleep
700 KMX US Equity
need sleep
800 NFX US Equity
need sleep
900 SND US Equity

### test 1

In [8]:
df = pd.DataFrame()
err_code = []
tic = time.perf_counter()
fields = ['HIGH', 'OPEN', 'LOW', 'VOLUME', 'PX_LAST']
cols = ['High', 'Open', 'Low', 'Volume', 'Adj Close']
start = '20100101'
end = '20190115'



for num,i in tqdm_notebook(enumerate(ticker_list)):
    if (num % 100 == 0) & (num != 0):
        time.sleep(1)
        print('need sleep')
    try:
        temp_df = con.bdh(i, fields, start, end)
        temp_df = temp_df.loc[:, i]
        temp_df.columns = cols
        temp_df = temp_df.assign(code=i.split(' ')[0])

        try:
            df = pd.concat([df, temp_df], axis=0)
        except:
            print('concat data has problem, ticker code : %s' % i)

    except:
        print('retrieve %s data, have something wrong, index:%s' % (i, ticker_list.index(i)))
        err_code.append(i)
toc = time.perf_counter()

print('retrieve data cost time: %s' % (toc-tic))

HBox(children=(IntProgress(value=0, max=925), HTML(value='')))

retrieve IUGXX US Equity data, have something wrong
retrieve HKD Curncy data, have something wrong
retrieve TRPXX US Equity data, have something wrong
retrieve GVMXX US Equity data, have something wrong
retrieve BRIXX US Equity data, have something wrong
retrieve nan data, have something wrong

pdblp.pdblp:WARNING:Unexpected Event Type: TIMEOUT

retrieve LB US Equity data, have something wrong

pdblp.pdblp:WARNING:Unexpected Event Type: TIMEOUT

retrieve PHM US Equity data, have something wrong

pdblp.pdblp:WARNING:Unexpected Event Type: TIMEOUT

retrieve KORS US Equity data, have something wrong

pdblp.pdblp:WARNING:Unexpected Event Type: TIMEOUT

retrieve HOG US Equity data, have something wrong

pdblp.pdblp:WARNING:Unexpected Event Type: TIMEOUT

retrieve RL US Equity data, have something wrong
retrieve FL US Equity data, have something wrong
retrieve GPS US Equity data, have something wrong
retrieve JWN US Equity data, have something wrong
retrieve HRB US Equity data, have something wrong
retrieve GT US Equity data, have something wrong
retrieve LEG US Equity data, have something wrong
retrieve HBI US Equity data, have something wrong
retrieve MAT US Equity data, have something wrong
retrieve UAA US Equity data, have something wrong
retrieve UA US Equity data, have something wrong
retrieve CME US Equity data, have something wrong
retrieve ICE US Equity data, have something wrong
retrieve GS US Equity data, have something wrong
retrieve MS US Equity data, have something wrong
retrieve SCHW US Equity data, have something wrong
retrieve AMTD US Equity data, have something wrong
retrieve MKTX US Equity data, have something wrong
retrieve CBOE US Equity data, have something wrong
retrieve NDAQ US Equity data, have something wrong
retrieve ETFC US Equity data, have something wrong
retrieve RJF US Equity data, have something wrong
retrieve LPLA US Equity data, have something wrong
retrieve IBKR US Equity data, have something wrong
retrieve LAZ US Equity data, have something wrong
retrieve SF US Equity data, have something wrong
retrieve VIRT US Equity data, have something wrong
retrieve EVR US Equity data, have something wrong
retrieve ITG US Equity data, have something wrong
retrieve HLI US Equity data, have something wrong
retrieve MC US Equity data, have something wrong
retrieve PJC US Equity data, have something wrong
retrieve BGCP US Equity data, have something wrong
retrieve PJT US Equity data, have something wrong
retrieve DHIL US Equity data, have something wrong
retrieve INTL US Equity data, have something wrong
retrieve COWN US Equity data, have something wrong
retrieve GHL US Equity data, have something wrong
retrieve XOM US Equity data, have something wrong
retrieve CVX US Equity data, have something wrong
retrieve COP US Equity data, have something wrong
retrieve SLB US Equity data, have something wrong
retrieve EOG US Equity data, have something wrong
retrieve OXY US Equity data, have something wrong
retrieve MPC US Equity data, have something wrong
retrieve PSX US Equity data, have something wrong
retrieve VLO US Equity data, have something wrong
retrieve KMI US Equity data, have something wrong
retrieve WMB US Equity data, have something wrong
retrieve HAL US Equity data, have something wrong
retrieve APC US Equity data, have something wrong
retrieve CXO US Equity data, have something wrong
retrieve OKE US Equity data, have something wrong
retrieve PXD US Equity data, have something wrong
retrieve FANG US Equity data, have something wrong
retrieve HES US Equity data, have something wrong
retrieve MRO US Equity data, have something wrong
retrieve DVN US Equity data, have something wrong
retrieve APA US Equity data, have something wrong
retrieve LNG US Equity data, have something wrong

retrieve data cost time: 1174.076332608

In [9]:
df.head()

               High     Open      Low      Volume  Adj Close  code
date
2010-01-04  24.8407  24.4573  24.4334  38414185.0    24.7209  MSFT
2010-01-05  24.8407  24.6410  24.4733  49758862.0    24.7289  MSFT
2010-01-06  24.8247  24.6650  24.3775  58182332.0    24.5771  MSFT
2010-01-07  24.5212  24.4653  24.1139  50564285.0    24.3231  MSFT
2010-01-08  24.6650  24.1858  24.1538  51201289.0    24.4893  MSFT

In [10]:
df.tail()

               High   Open    Low     Volume  Adj Close code
date
2019-01-08  36.2900  36.00  35.80  1784004.0      36.05  SEE
2019-01-09  36.1600  35.92  35.24  1582666.0      35.27  SEE
2019-01-10  36.3200  35.21  35.20  1141760.0      36.09  SEE
2019-01-11  36.7281  36.01  35.81  1425600.0      36.57  SEE
2019-01-14  36.6500  36.38  36.09  1130188.0      36.48  SEE

In [11]:
df.to_csv('data/data.csv')

In [19]:
path = 'data/data.csv'
data = pd.read_csv(path)

In [43]:
%load_ext autoreload
%autoreload 2

from utils import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
result = calc_pair_trading('SMH', 
                           data_source='ol',
                           region='all',
                           method='rolling', 
                           period=245, 
                           is_saving=True, 
                           save_name='rsi_sample')

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

finish, see you

如果上述代码没有问题，可以尝试以下代码

### test 2

暂剔先除HKD Curncy 和 ita

In [78]:
ticker_list.remove('HKD Curncy')
ticker_list.remove('ita')

620

In [17]:
intervals = np.linspace(0, len(ticker_list), 10, dtype=int)

In [ ]:
tic = time.perf_counter()

df = pd.DataFrame()

for i in tqdm_notebook(range(len(intervals)-1)):
    
    temp_list = ticker_list[intervals[i]:intervals[i+1]]
    
    temp_df = con.bdh(temp_list, fields, start, end)

    temp_df = pd.concat([temp_df[x].assign(code=x.split(' ')[0]).groupby(level=0, axis=1).first() for x in temp_df.columns.levels[0]], 
              axis=0,sort=False).reset_index().set_index(['date', 'code'])
    temp_df.columns = cols
    
    df = pd.concat([df, temp_df], axis=0)

toc = time.perf_counter()

print('retrieve data cost time: %s' % (toc-tic))

In [ ]:
# tic = time.perf_counter()

# df = con.bdh(ticker_list, fields, start, end)

# df = pd.concat([df[x].assign(code=x.split(' ')[0]).groupby(level=0, axis=1).first() for x in df.columns.levels[0]], 
#           axis=0,sort=False).reset_index().set_index(['date', 'code'])
# df.columns = cols

# toc = time.perf_counter()

# print('retrieve data cost time: %s' % (toc-tic))

In [1]:
df.to_csv('data/data.csv')

In [ ]:
result = calc_pair_trading('SMH', 
                           data_source='ol',
                           region='all',
                           method='rolling', 
                           period=245, 
                           is_saving=True, 
                           save_name='rsi_sample')