In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import talib as ta
import datetime, time
import pickle
from tqdm import tqdm_notebook

import pdblp as pb
import blpapi

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

con = pb.BCon(port=8194, timeout=5000)
con.start()

In [3]:
fields = ['HIGH', 'OPEN', 'LOW', 'VOLUME', 'PX_LAST']
start = '20181101'
end = '20181201'

df = con.bdh("MSFT US Equity",fields,
             start,
             end,
             elms=[('CshAdjAbnormal', False),
                    ('CapChg', False),
                    ('CshAdjNormal', False)])

In [4]:
df.head()

ticker     MSFT US Equity
field                HIGH    OPEN      LOW      VOLUME PX_LAST
date
2018-11-01         107.32  107.05  105.530  33384201.0  105.92
2018-11-02         107.32  106.48  104.975  37680194.0  106.16
2018-11-05         107.74  106.37  105.900  27922144.0  107.51
2018-11-06         108.84  107.38  106.280  24340248.0  107.72
2018-11-07         112.24  109.44  109.400  37901704.0  111.96

In [5]:
df.tail()

ticker     MSFT US Equity
field                HIGH    OPEN     LOW      VOLUME PX_LAST
date
2018-11-26        106.630  104.79  104.58  32336165.0  106.47
2018-11-27        107.330  106.27  105.36  29124486.0  107.14
2018-11-28        111.330  107.89  107.86  46788461.0  111.12
2018-11-29        111.115  110.33  109.03  28123195.0  110.19
2018-11-30        110.970  110.70  109.36  33665624.0  110.89

In [6]:
con.stop()