In [1]:
%load_ext autoreload
%autoreload 2
from utils_v3 import *

In [2]:
import seaborn as sns
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

我们取HK Banks中的416和1288作为示例

In [3]:
code1 = '416'
code2 = '1288'
data = ol_data.copy()
%xdel ol_data

In [4]:
# 设置数据的开始和结束日期
start = '2010-01-10'
# 结束日期选取到最新一个交易日
end = datetime.datetime.today().strftime('%Y-%m-%d')

In [5]:
data_pair = data.loc[(slice(start, end), [code1, code2]),:]

一些参数的说明

    period, 当avg_method为rolling或者ewm时,用最近多少个ratio的平均值来作为参考值; method为all的时候, 是把过去全部的ratio做平均; 当前ratio>参考值, 就是做多
    
    rt_period, 计算return的时候, 取最近多少return的平均值, 作为return矩阵中的输出值

method == 'all', 此时period可以随意设置, return我先取0, 取0就是所有的return求平均

In [6]:
res1 = single_pair_trading(data_pair, code1, code2, method='all', period=245,
                         rt_period=0, rsi_period=14, upper=70, lower=30)

E:\Python\tensorflow\strategy_research\pair trading -- python\utils_v3.py:140: RuntimeWarning: Mean of empty slice
  temp_mean = np.nanmean(ratio[:i-1])

我们看下历史上两个标的做多的次数是多少

In [8]:
res1['long_asset'].value_counts()

416     389
1288    343
dtype: int64

两者的做多频率其实差不多

我们分别看下做多416和1288的时候, 都是什么时间段

In [9]:
res1['long_asset'][res1['long_asset'] == '416']

date
2015-12-10    416
2015-12-11    416
2015-12-14    416
2015-12-15    416
2015-12-16    416
2015-12-17    416
2015-12-31    416
2016-01-04    416
2016-01-05    416
2016-01-06    416
2016-01-07    416
2016-01-08    416
2016-01-11    416
2016-01-12    416
2016-01-13    416
2016-01-14    416
2016-01-15    416
2016-01-18    416
2016-01-19    416
2016-01-20    416
2016-01-21    416
2016-01-22    416
2016-01-25    416
2016-01-26    416
2016-01-27    416
2016-01-28    416
2016-01-29    416
2016-02-01    416
2016-02-02    416
2016-02-03    416
             ...
2018-11-07    416
2018-11-08    416
2018-11-09    416
2018-11-12    416
2018-11-13    416
2018-11-14    416
2018-11-15    416
2018-11-16    416
2018-11-19    416
2018-11-20    416
2018-11-21    416
2018-11-22    416
2018-11-23    416
2018-11-26    416
2018-11-28    416
2018-11-29    416
2018-11-30    416
2018-12-03    416
2018-12-04    416
2018-12-05    416
2018-12-06    416
2018-12-07    416
2018-12-10    416
2018-12-11    416
2018-12-12    416
2018-12-24    416
2018-12-27    416
2018-12-28    416
2018-12-31    416
2019-01-03    416
Length: 389, dtype: object

In [10]:
res1['long_asset'][res1['long_asset'] == '1288']

date
2015-12-18    1288
2015-12-21    1288
2015-12-22    1288
2015-12-23    1288
2015-12-24    1288
2015-12-28    1288
2015-12-29    1288
2015-12-30    1288
2016-03-08    1288
2016-05-26    1288
2016-05-27    1288
2016-05-30    1288
2016-05-31    1288
2016-06-01    1288
2016-06-03    1288
2016-06-06    1288
2016-06-07    1288
2016-06-08    1288
2016-06-10    1288
2016-06-13    1288
2016-06-14    1288
2016-06-23    1288
2016-06-24    1288
2016-06-27    1288
2016-07-14    1288
2016-07-15    1288
2016-07-18    1288
2016-08-08    1288
2016-08-09    1288
2016-08-10    1288
              ...
2019-02-04    1288
2019-02-08    1288
2019-02-11    1288
2019-02-12    1288
2019-02-13    1288
2019-02-14    1288
2019-02-15    1288
2019-02-18    1288
2019-02-19    1288
2019-02-20    1288
2019-02-21    1288
2019-02-22    1288
2019-02-25    1288
2019-02-26    1288
2019-02-27    1288
2019-03-04    1288
2019-03-05    1288
2019-03-07    1288
2019-03-11    1288
2019-03-13    1288
2019-03-14    1288
2019-03-15    1288
2019-03-18    1288
2019-03-19    1288
2019-03-20    1288
2019-03-21    1288
2019-03-22    1288
2019-03-25    1288
2019-03-27    1288
2019-03-28    1288
Length: 343, dtype: object

通过上面时间点的观察, 在最开始15年12月份的时候, 两者都有做多的时候, 而16年前两个月, 则一直做多416; 而到了19年, 1月3日之后, 一直是在做多1288

我们看下做多的return的时间序列和均值

In [12]:
res1['long_return_series']

date
2010-07-16         NaN
2010-07-19         NaN
2010-07-20         NaN
2010-07-21         NaN
2010-07-22         NaN
2010-07-23         NaN
2010-07-26         NaN
2010-07-27         NaN
2010-07-28         NaN
2010-07-29         NaN
2010-07-30         NaN
2010-08-02         NaN
2010-08-03         NaN
2010-08-04         NaN
2010-08-05         NaN
2010-08-06         NaN
2010-08-09         NaN
2010-08-10         NaN
2010-08-11         NaN
2010-08-12         NaN
2010-08-13         NaN
2010-08-16         NaN
2010-08-17         NaN
2010-08-18         NaN
2010-08-19         NaN
2010-08-20         NaN
2010-08-23         NaN
2010-08-24         NaN
2010-08-25         NaN
2010-08-26         NaN
                ...
2019-02-15   -0.013550
2019-02-18    0.016484
2019-02-19   -0.002703
2019-02-20    0.005420
2019-02-21    0.010782
2019-02-22    0.008000
2019-02-25    0.018519
2019-02-26   -0.012987
2019-02-27         NaN
2019-02-28         NaN
2019-03-01         NaN
2019-03-04    0.007937
2019-03-05         NaN
2019-03-06         NaN
2019-03-07         NaN
2019-03-08         NaN
2019-03-11         NaN
2019-03-12         NaN
2019-03-13    0.000000
2019-03-14   -0.005362
2019-03-15    0.005391
2019-03-18    0.002681
2019-03-19    0.000000
2019-03-20   -0.008021
2019-03-21   -0.005391
2019-03-22    0.002710
2019-03-25         NaN
2019-03-26         NaN
2019-03-27    0.008242
2019-03-28   -0.008174
Length: 2145, dtype: float64

In [13]:
res1['long_return']

0.00010935265829198897

这里解释一下rt_period参数的作用
```
当rt_period=0时, 就是取所有的值进行平均;
当rt_period=14时, 就是把最近14个return进行平均
```

In [15]:
rt_period = 0
res1['long_return_series'][-rt_period:].mean()

0.00010935265829198897

In [16]:
rt_period = 14
res1['long_return_series'][-rt_period:].mean()

-0.00079249571007360413

In [17]:
rt_period = 245
res1['long_return_series'][-rt_period:].mean()

-0.00082974529038156385

看一下method = 'rolling'的情况

In [31]:
res2 = single_pair_trading(data_pair, code1, code2, method='rolling', period=700,
                         rt_period=0, rsi_period=14, upper=70, lower=30)

In [32]:
print(res2['long_asset'].value_counts().values)

[387 346]

数据实际的行数

In [27]:
res2['ratio'].dropna().shape

(735,)

不同period, 对于做多和做空次数的影响

```python
method == 'rolling'
```

In [33]:
print('period, long times, short times')
for i in range(1, 800, 50):
    temp = single_pair_trading(data_pair, code1, code2, method='rolling', period=i,
                         rt_period=0, rsi_period=14, upper=70, lower=30)
    print(i, temp['long_asset'].value_counts().values)

period, long times, short times
1 [352 326]
51 [387 346]
101 [384 349]
151 [391 342]
201 [406 327]
251 [421 312]
301 [418 315]
351 [406 327]
401 [402 331]
451 [396 337]
501 [394 339]
551 [392 341]
601 [389 344]
651 [389 344]
701 [387 346]
751 [389 344]

```python
method == 'ewm'
```

In [34]:
print('period, long times, short times')
for i in range(1, 800, 50):
    temp = single_pair_trading(data_pair, code1, code2, method='ewm', period=i,
                         rt_period=0, rsi_period=14, upper=70, lower=30)
    print(i, temp['long_asset'].value_counts().values)

period, long times, short times
1 [367 359]
51 [391 342]
101 [385 348]
151 [375 358]
201 [370 363]
251 [383 350]
301 [386 347]
351 [384 349]
401 [384 349]
451 [385 348]
501 [386 347]
551 [388 345]
601 [388 345]
651 [390 343]
701 [390 343]
751 [393 340]

不同周期下, rt_period = 0时, long和long_short_return

In [37]:
print('period, long return, short return')
for i in range(1, 800, 50):
    temp = single_pair_trading(data_pair, code1, code2, method='rolling', period=i,
                         rt_period=0, rsi_period=14, upper=70, lower=30)
    print(i, temp['long_return'], temp['long_short_return'])

period, long return, short return
1 0.00219594538048 0.00178048986269
51 0.000708552574617 -0.000864815190862
101 0.000946064392263 -0.00038979155557
151 0.000604165966884 -0.00107358840633
201 0.000796327401865 -0.000689265536366
251 0.000651568032508 -0.00097878427508
301 0.00055826963408 -0.00116538107194
351 0.000470212297307 -0.00134149574548
401 0.000596977444343 -0.00108796545141
451 0.000508651063047 -0.001264618214
501 0.000349939873462 -0.00158204059317
551 0.000299922857096 -0.0016820746259
601 0.000290796028678 -0.00170032828274
651 0.000290796028678 -0.00170032828274
701 0.000303273937503 -0.00167537246509
751 0.000290796028678 -0.00170032828274

In [38]:
print('period, long return, short return')
for i in range(1, 800, 50):
    temp = single_pair_trading(data_pair, code1, code2, method='ewm', period=i,
                         rt_period=0, rsi_period=14, upper=70, lower=30)
    print(i, temp['long_return'], temp['long_short_return'])

period, long return, short return
1 0.00213630879358 0.00196047338074
51 0.000847676113365 -0.000586568113364
101 0.000930276941655 -0.000421366456786
151 0.000541343178586 -0.00119923398292
201 0.000412697172517 -0.00145652599506
251 0.000246004290496 -0.0017899117591
301 0.000341668208579 -0.00159858392294
351 0.000481747351043 -0.00131842563801
401 0.000548708616101 -0.00118450310789
451 0.00060142737572 -0.00107906558865
501 0.000639673210728 -0.00100257391864
551 0.000566191624422 -0.00114953709125
601 0.000566191624422 -0.00114953709125
651 0.000508670660734 -0.00126457901863
701 0.000508670660734 -0.00126457901863
751 0.000484738095817 -0.00131244414846

In [51]:
df_res = pd.DataFrame()
count = 0
for i in range(1, 800, 200):
    for j in range(10, 51, 10):
        temp = single_pair_trading(data_pair, code1, code2, method='ewm', period=i,
                             rt_period=j, rsi_period=14, upper=70, lower=30)
        df_temp = pd.DataFrame([i, j, (temp['long_return']), temp['long_short_return']],
                              index = ['period', 'rt_period', 
                                       'long_return', 'long_short_return'])
        df_res = pd.concat([df_res, df_temp.T])
        count += 1

In [52]:
df_res

   period  rt_period  long_return  long_short_return
0     1.0       10.0    -0.006637          -0.009762
0     1.0       20.0    -0.002266          -0.008784
0     1.0       30.0    -0.002033          -0.007024
0     1.0       40.0    -0.001414          -0.004555
0     1.0       50.0     0.000105          -0.003647
0   201.0       10.0    -0.000320           0.002871
0   201.0       20.0     0.000001          -0.004249
0   201.0       30.0     0.001578           0.000197
0   201.0       40.0     0.000248          -0.001230
0   201.0       50.0     0.001365          -0.001127
0   401.0       10.0    -0.000320           0.002871
0   401.0       20.0     0.000001          -0.004249
0   401.0       30.0     0.001578           0.000197
0   401.0       40.0     0.000949           0.000172
0   401.0       50.0     0.001929           0.000002
0   601.0       10.0    -0.000320           0.002871
0   601.0       20.0     0.000001          -0.004249
0   601.0       30.0     0.001578           0.000197
0   601.0       40.0     0.000949           0.000172
0   601.0       50.0     0.001929           0.000002

看一下整个板块的结果

In [40]:
result = calc_pair_trading('HK Banks', is_saving=True, save_name='HK Banks rolling',
                          period=255, rt_period=14)

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

finish, see you