In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
# import scipy
# import tushare as ts
import wrds
import talib as ta
import datetime, time

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

retrieve data from csv

In [30]:
data_return = pd.read_csv('data/return.zip',
                         parse_dates=['date'], infer_datetime_format=True)

In [29]:
data_query7 = pd.read_csv('data/query7-replace some data in query6.zip',
                         parse_dates=['datadate'], infer_datetime_format=True)

In [37]:
data.head()

,PERMNO,TICKER,COMNAM,PERMCO,CUSIP,PRC,SHROUT,RETX,MV,RETPLUS
date,,,,,,,,,,
1985-12-31,10000,NaN,NaN,7952,68391610,NaN,NaN,NaN,NaN,NaN
1986-01-31,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.3750,3680.0,NaN,16100.0,NaN
1986-02-28,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-3.2500,3680.0,-0.257143,11960.0,0.742857
1986-03-31,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.4375,3680.0,0.365385,16330.0,1.365385
1986-04-30,10000,OMFGA,OPTIMUM MANUFACTURING INC,7952,68391610,-4.0000,3793.0,-0.098592,15172.0,0.901408

In [1]:
# data_query7.head()

calc MV & CUM RETURNX

In [4]:
data = pd.read_csv('data/query3.zip', parse_dates=['date'], infer_datetime_format=True,
                  dtype={'PERMCO':str})
# data = pd.read_csv('query3.csv', parse_dates=['date'], infer_datetime_format=True,)
                   #dtype={'PRC':np.float64, 'SHROUT':np.float64})
data = data.set_index('date')
data.RET = data.RET.replace(['B', 'C'], [np.nan, np.nan]).astype(np.float64)
data.RETX = data.RETX.replace(['B', 'C'], [np.nan, np.nan]).astype(np.float64)
data = data.assign(MV=data.PRC.abs() * data.SHROUT,
                  RETPLUS=data.RETX+1)

In [5]:
cum_ret = data.groupby(['PERMCO', pd.Grouper(freq="Y")]).apply(lambda x : x.RETPLUS.cumprod())
cum_ret.index = cum_ret.index.droplevel(1)
cum_ret = cum_ret.reset_index()
cum_ret.columns = ['PERMCO', 'date', 'CUMRETX']
cum_ret = cum_ret.set_index('date')
cum_ret.head()

  PERMCO       date   CUMRETX
0    100 1973-01-31  0.763819
1    100 1973-02-28  0.733668
2    100 1973-03-30  0.713568
3    100 1973-04-30  0.693467
4    100 1973-05-31  0.542714