In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import talib as ta
import datetime, time
from dateutil.relativedelta import *
from pandas.tseries.offsets import *
from tqdm import tqdm_notebook

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

crsp fiscal resample

In [4]:
#定义函数，关于car的计算会在后面演示
def calc_exf(df):
    ret = df.ret_p1
    dret = df.dret_p1
    exf = df.mv - df.mv.shift(1) * df.retx_p1
    exf_to_mv = exf / df.mv.shift(1)
    
    car1 = ((ret[::-1]).rolling(1, min_periods=1).apply(np.prod, raw=True)[::-1]) - \
        ((dret[::-1]).rolling(1, min_periods=1).apply(np.prod, raw=True)[::-1])
    car3 = ((ret[::-1]).rolling(3, min_periods=1).apply(np.prod, raw=True)[::-1]) - \
        ((dret[::-1]).rolling(3, min_periods=1).apply(np.prod, raw=True)[::-1])
    car5 = ((ret[::-1]).rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1]) - \
        ((dret[::-1]).rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1])
    
    wr5 = ((ret[::-1]).rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1]) / \
        ((dret[::-1]).rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1])
    

    
    res = pd.DataFrame({
        'date':df.date,
        'mv':df.mv,
        'retx_p1':df.retx_p1,
        'exf':exf,
        'exf_to_mv':exf_to_mv,
        'car1':car1.shift(-1),
        'car3':car3.shift(-1),
        'car5':car5.shift(-1),
        'wr5':wr5.shift(-1),

    })
    return res

In [5]:
#读取我们再第三步中处理好的数据
crsp_fa = pd.read_csv('data/crsp_fa_filtered.zip',
                     parse_dates=['date'], infer_datetime_format=True)

In [6]:
#取paper中的例子做一个验证，ret_p1代表buy and hold return+1, retx_p1代表ex-dvd return+1,dret_p1代表decile return+1
crsp_fa.query('permno == 77418')

,date,permno,ret_p1,retx_p1,dret_p1,mv,mv_adj
149844,1992-06-30,77418,0.885246,0.885246,0.902617,7.399350e+04,1.153435e+05
149845,1993-06-30,77418,2.741783,2.740738,1.256202,2.180040e+05,3.304247e+05
149846,1994-06-30,77418,1.540542,1.540542,1.046047,4.129650e+05,6.094740e+05
149847,1995-06-30,77418,3.087717,3.087717,1.174147,1.652420e+06,2.371602e+06
149848,1996-06-30,77418,1.988631,1.988631,1.220468,3.935138e+06,5.489542e+06
149849,1997-06-30,77418,1.271430,1.271430,1.321836,5.443073e+06,7.432170e+06
149850,1998-06-30,77418,3.823007,3.822978,1.302787,2.272824e+07,3.050151e+07
149851,1999-06-30,77418,4.185493,4.185493,1.216303,1.195158e+08,1.570238e+08
149852,2000-06-30,77418,0.957955,0.957955,1.091818,1.216507e+08,1.542759e+08
149853,2001-12-31,77418,0.922413,0.922413,0.863769,1.365999e+08,1.631004e+08
149854,2002-12-31,77418,0.408099,0.408099,0.784459,5.631639e+07,6.543742e+07
149855,2003-12-31,77418,1.373283,1.373283,1.299333,7.826657e+07,8.913651e+07
149856,2004-12-31,77418,1.081156,1.081156,1.116584,8.575871e+07,9.496747e+07
149857,2005-12-31,77418,0.901661,0.896659,1.072051,7.979437e+07,8.494877e+07
149858,2006-12-31,77418,1.263697,1.248854,1.160715,8.652264e+07,9.023852e+07
149859,2007-12-31,77418,0.767318,0.758034,1.083138,5.967698e+07,5.967698e+07
149860,2008-12-31,77418,0.620778,0.609328,0.618783,3.608984e+07,3.613088e+07
149861,2009-12-31,77418,1.341498,1.303267,1.283281,3.402322e+07,3.319192e+07
149862,2010-12-31,77418,1.135748,1.103981,1.157316,3.568608e+07,3.423194e+07
149863,2011-12-31,77418,1.153788,1.123405,0.996823,3.617195e+07,3.368451e+07
149864,2012-12-31,77418,1.358594,1.323464,1.158397,4.528822e+07,4.147541e+07
149865,2013-12-31,77418,1.486231,1.457662,1.304742,6.307722e+07,5.688070e+07

In [7]:
test = crsp_fa.query('permno == 77418').set_index('date')

In [8]:
test['2002':'2006']

            permno    ret_p1   retx_p1   dret_p1           mv        mv_adj
date
2002-12-31   77418  0.408099  0.408099  0.784459  56316389.10  6.543742e+07
2003-12-31   77418  1.373283  1.373283  1.299333  78266574.40  8.913651e+07
2004-12-31   77418  1.081156  1.081156  1.116584  85758706.60  9.496747e+07
2005-12-31   77418  0.901661  0.896659  1.072051  79794365.60  8.494877e+07
2006-12-31   77418  1.263697  1.248854  1.160715  86522639.94  9.023852e+07

In [9]:
test['2002':'2006'].ret_p1

date
2002-12-31    0.408099
2003-12-31    1.373283
2004-12-31    1.081156
2005-12-31    0.901661
2006-12-31    1.263697
Name: ret_p1, dtype: float64

In [10]:
p = 1
for i in test['2002':'2006'].ret_p1:
    p = i * p
print(p)

0.6904002043681601

In [11]:
#这里算的是RT
test['2002':'2006'].ret_p1.prod()

0.6904002043681601

In [12]:
#接着算MT
test['2002':'2006'].dret_p1.prod()

1.4161960357477106

In [13]:
wr5_test = test['2002':'2006'].ret_p1.prod() / test['2002':'2006'].dret_p1.prod()

In [14]:
#这里算出来WRT等于0.487, 文中99页等于0.446
wr5_test

0.48750327422265993

In [18]:
wr5 = ((ret[::-1]).rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1]) / \
        ((dret[::-1]).rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1])

NameError: name 'ret' is not defined

In [19]:
#举例说明[::-1]和rolling的用法
s = pd.Series(range(1,11))

In [20]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [21]:
s[::-1]

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

In [22]:
s.rolling(5).sum()

0     NaN
1     NaN
2     NaN
3     NaN
4    15.0
5    20.0
6    25.0
7    30.0
8    35.0
9    40.0
dtype: float64

In [23]:
#min_periods=1意味着不满5个也会进行sum的计算，只要有1个就会开始求和
s.rolling(5,min_periods=1).sum()

0     1.0
1     3.0
2     6.0
3    10.0
4    15.0
5    20.0
6    25.0
7    30.0
8    35.0
9    40.0
dtype: float64

In [24]:
s[::-1].rolling(5).sum()

9     NaN
8     NaN
7     NaN
6     NaN
5    40.0
4    35.0
3    30.0
2    25.0
1    20.0
0    15.0
dtype: float64

In [25]:
s[::-1].rolling(5).sum()[::-1]

0    15.0
1    20.0
2    25.0
3    30.0
4    35.0
5    40.0
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [26]:
s[::-1].rolling(5).sum()[::-1].shift(-1)

0    20.0
1    25.0
2    30.0
3    35.0
4    40.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [27]:
#即我们想要的效果，即t=0的时候，算的是t+1,t+5的结果，t=1的时候，算的是t+2,t+6的结果，后面我们再把sum替换成prod函数即可
s[::-1].rolling(5, min_periods=1).sum()[::-1].shift(-1)

0    20.0
1    25.0
2    30.0
3    35.0
4    40.0
5    34.0
6    27.0
7    19.0
8    10.0
9     NaN
dtype: float64

In [28]:
s.rolling(5, min_periods=1).sum()

0     1.0
1     3.0
2     6.0
3    10.0
4    15.0
5    20.0
6    25.0
7    30.0
8    35.0
9    40.0
dtype: float64

In [29]:
s.rolling(5, min_periods=1).apply(np.prod, raw=True)

0        1.0
1        2.0
2        6.0
3       24.0
4      120.0
5      720.0
6     2520.0
7     6720.0
8    15120.0
9    30240.0
dtype: float64

In [30]:
s[::-1].rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1].shift(-1)

0      720.0
1     2520.0
2     6720.0
3    15120.0
4    30240.0
5     5040.0
6      720.0
7       90.0
8       10.0
9        NaN
dtype: float64

In [31]:
test.ret_p1

date
1992-06-30    0.885246
1993-06-30    2.741783
1994-06-30    1.540542
1995-06-30    3.087717
1996-06-30    1.988631
1997-06-30    1.271430
1998-06-30    3.823007
1999-06-30    4.185493
2000-06-30    0.957955
2001-12-31    0.922413
2002-12-31    0.408099
2003-12-31    1.373283
2004-12-31    1.081156
2005-12-31    0.901661
2006-12-31    1.263697
2007-12-31    0.767318
2008-12-31    0.620778
2009-12-31    1.341498
2010-12-31    1.135748
2011-12-31    1.153788
2012-12-31    1.358594
2013-12-31    1.486231
Name: ret_p1, dtype: float64

In [32]:
test.ret_p1[::-1].rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1].shift(-1)
# test.ret_p1.rolling(5, min_periods=1).apply(np.prod, raw=True)

date
1992-06-30     32.975429
1993-06-30     45.979314
1994-06-30    124.921070
1995-06-30     38.756382
1996-06-30     17.976892
1997-06-30      5.770165
1998-06-30      2.072731
1999-06-30      0.535408
2000-06-30      0.503945
2001-12-31      0.690400
2002-12-31      1.298106
2003-12-31      0.586795
2004-12-31      0.728095
2005-12-31      0.917121
2006-12-31      0.837355
2007-12-31      1.482600
2008-12-31      3.549555
2009-12-31      2.645964
2010-12-31      2.329711
2011-12-31      2.019184
2012-12-31      1.486231
2013-12-31           NaN
Name: ret_p1, dtype: float64

In [33]:
test.dret_p1[::-1].rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1].shift(-1)

date
1992-06-30    2.489071
1993-06-30    2.581374
1994-06-30    3.001522
1995-06-30    2.791061
1996-06-30    1.975333
1997-06-30    1.172284
1998-06-30    1.169177
1999-06-30    1.073322
2000-06-30    1.053890
2001-12-31    1.416196
2002-12-31    1.955406
2003-12-31    0.931225
2004-12-31    1.070250
2005-12-31    1.155372
2006-12-31    0.992235
2007-12-31    1.061177
2008-12-31    2.237557
2009-12-31    1.743622
2010-12-31    1.506608
2011-12-31    1.511410
2012-12-31    1.304742
2013-12-31         NaN
Name: dret_p1, dtype: float64

In [34]:
(test.ret_p1[::-1].rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1].shift(-1)) / \
(test.dret_p1[::-1].rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1].shift(-1))

date
1992-06-30    13.248084
1993-06-30    17.811951
1994-06-30    41.619246
1995-06-30    13.885897
1996-06-30     9.100687
1997-06-30     4.922155
1998-06-30     1.772812
1999-06-30     0.498832
2000-06-30     0.478177
2001-12-31     0.487503
2002-12-31     0.663855
2003-12-31     0.630132
2004-12-31     0.680304
2005-12-31     0.793789
2006-12-31     0.843908
2007-12-31     1.397127
2008-12-31     1.586353
2009-12-31     1.517510
2010-12-31     1.546328
2011-12-31     1.335961
2012-12-31     1.139100
2013-12-31          NaN
dtype: float64

In [35]:
(test.ret_p1[::-1].rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1].shift(-1)) - \
(test.dret_p1[::-1].rolling(5, min_periods=1).apply(np.prod, raw=True)[::-1].shift(-1))

date
1992-06-30     30.486357
1993-06-30     43.397940
1994-06-30    121.919548
1995-06-30     35.965321
1996-06-30     16.001558
1997-06-30      4.597881
1998-06-30      0.903554
1999-06-30     -0.537914
2000-06-30     -0.549944
2001-12-31     -0.725796
2002-12-31     -0.657300
2003-12-31     -0.344430
2004-12-31     -0.342154
2005-12-31     -0.238251
2006-12-31     -0.154880
2007-12-31      0.421423
2008-12-31      1.311998
2009-12-31      0.902342
2010-12-31      0.823103
2011-12-31      0.507775
2012-12-31      0.181489
2013-12-31           NaN
dtype: float64

In [36]:
crsp_fa.head()

        date  permno    ret_p1   retx_p1   dret_p1          mv        mv_adj
0 1986-10-31   10000  0.178571  0.178571  1.059979  3002.34375   5796.726244
1 1986-06-30   10001  1.032450  1.000000  1.252963  6033.12500  12067.131553
2 1987-06-30   10001  1.023885  0.959184  1.018842  5822.12500  11205.083735
3 1988-06-30   10001  1.140535  1.063829  0.827947  6200.00000  11459.064979
4 1989-06-30   10001  1.199811  1.120000  1.005611  7007.00000  12326.466763

验证mv adjust是否正确 接下来两个步骤可忽略

In [7]:
cpi = pd.read_excel('data/CPIAUCSL.xlsx', index_col=0)

In [11]:
crsp_fa = crsp_fa.set_index('date')
(crsp_fa['1986-10-31'].query('permno == 10000').mv.iloc[0] / \
cpi['1986-11'].cpi_adjust.iloc[0]) - \
(crsp_fa['1986-10-31'].query('permno == 10000').mv_adj.iloc[0])

9.0949470177292824e-13

In [26]:
crsp_fa = crsp_fa.reset_index()

查看firm-years数量

ps:因为流通股数的单位默认是1000, 故mv_adj只需要大于50000即可

In [20]:
'''
crsp_fa = crsp_fa.reset_index().set_index('date')[:'2008']
crsp_fa[(crsp_fa.mv_adj * crsp_fa.retx_p1) >= 5e+4].shape[0]
'''

140980

In [29]:
'''
crsp_fa = crsp_fa.reset_index().set_index('date')[:'2008']
crsp_fa[(crsp_fa.mv_adj.shift(-1) * crsp_fa.retx_p1) >= 5e+4].shape[0]
'''

140149

In [6]:
crsp_fa = crsp_fa[crsp_fa.mv_adj.shift(1) * crsp_fa.retx_p1 >= 5e+4]

In [7]:
crsp_fa

,date,permno,ret_p1,retx_p1,dret_p1,mv,mv_adj
26,2011-12-31,10001,1.139163,1.085551,0.855225,9.311868e+04,8.671519e+04
27,2012-12-31,10001,0.860620,0.816988,1.171750,7.610481e+04,6.969756e+04
28,2013-12-31,10001,0.909306,0.860665,1.373769,8.392956e+04,7.568457e+04
29,1986-12-31,10002,1.064515,1.064515,1.005044,1.454062e+04,2.769428e+04
37,1994-12-31,10002,1.039473,1.019418,0.927850,3.936188e+04,5.549214e+04
38,1995-12-31,10002,1.092129,1.066668,1.373491,4.202800e+04,5.764220e+04
39,1996-12-31,10002,0.955922,0.928571,1.116432,3.902600e+04,5.194669e+04
40,1997-12-31,10002,1.962960,1.884614,1.257241,1.040270e+05,1.362458e+05
41,1998-12-31,10002,0.951829,0.933673,0.942657,1.178672e+05,1.518419e+05
42,1999-12-31,10002,0.820407,0.799180,1.374556,9.419719e+04,1.180519e+05
43,2000-12-31,10002,0.787577,0.753847,0.921717,7.833262e+04,9.464776e+04
44,2001-12-31,10002,1.119581,1.076463,1.251223,8.436170e+04,1.007280e+05
45,2002-12-31,10002,1.171632,1.122345,0.896799,9.689190e+04,1.125846e+05
46,2003-12-31,10002,1.492715,1.443241,1.665564,1.400949e+05,1.595518e+05
47,2004-12-31,10002,1.578180,1.536205,1.186930,2.712268e+05,3.003511e+05
48,2005-12-31,10002,0.838426,0.816740,1.041902,2.238537e+05,2.383138e+05
49,2006-12-31,10002,1.296737,1.269654,1.196748,2.849563e+05,2.971943e+05
50,2007-12-31,10002,0.489115,0.474138,0.941746,2.117137e+05,2.117137e+05
51,2008-12-31,10002,1.282612,1.219834,0.581334,2.591118e+05,2.594064e+05
52,2009-12-31,10002,0.195867,0.194444,1.490591,5.060958e+04,4.937301e+04
56,1988-05-31,10003,1.071885,1.020548,0.869064,4.086325e+04,7.530716e+04
57,1989-05-31,10003,1.082525,1.026844,1.129509,4.196025e+04,7.352782e+04
70,1974-12-31,10006,0.607281,0.570194,0.723338,1.857240e+05,7.534571e+05
71,1975-12-31,10006,1.241651,1.166668,1.340881,2.194500e+05,8.344370e+05
72,1976-12-31,10006,1.444700,1.368507,1.408452,3.047094e+05,1.101387e+06
73,1977-12-31,10006,1.039197,0.982206,1.073809,3.012195e+05,1.019313e+06
74,1978-12-31,10006,0.949067,0.891305,1.111162,2.693085e+05,8.341644e+05
75,1979-12-31,10006,1.188959,1.113822,1.331115,3.034208e+05,8.253589e+05
76,1980-12-31,10006,1.430885,1.343066,1.329421,4.144140e+05,1.008347e+06
77,1981-12-31,10006,0.944868,0.888586,1.031059,3.742515e+05,8.411699e+05
...,...,...,...,...,...,...,...
236706,2012-12-31,93422,1.035952,1.033104,1.158088,5.391602e+06,4.937684e+06
236707,2013-12-31,93422,1.015309,1.012552,1.372511,5.494963e+06,4.955154e+06
236708,2010-12-31,93423,1.619386,1.617602,1.198992,1.514931e+06,1.453200e+06
236709,2011-12-31,93423,1.524280,1.516177,0.963586,2.269107e+06,2.113068e+06
236710,2012-12-31,93423,1.562538,1.484000,1.158088,3.263735e+06,2.988962e+06
236711,2013-12-31,93423,1.266822,1.203268,1.372511,3.502760e+06,3.158659e+06
236712,2010-12-31,93426,1.489329,1.489329,1.264406,2.318639e+05,2.224158e+05
236713,2011-12-31,93426,0.848193,0.848193,0.917746,1.968896e+05,1.833501e+05
236714,2012-12-31,93426,0.827284,0.827284,1.154678,1.632141e+05,1.494732e+05
236715,2013-12-31,93426,1.126324,1.126324,1.331264,1.892370e+05,1.706469e+05
236716,2010-06-30,93427,1.000000,1.000000,0.945595,3.610608e+05,3.634020e+05
236717,2011-06-30,93427,2.269161,2.269161,1.324858,8.298661e+05,8.063797e+05
236718,2012-06-30,93427,0.516886,0.516886,0.969886,4.325734e+05,4.144560e+05
236719,2013-06-30,93427,1.115539,1.115539,1.222292,4.847640e+05,4.558655e+05
236720,2010-12-31,93428,2.792981,2.792981,1.189863,6.077938e+05,5.830272e+05
236721,2011-12-31,93428,1.264654,1.264654,0.922324,8.214400e+05,7.649521e+05
236722,2012-12-31,93428,1.202980,1.202980,1.147465,1.014079e+06,9.287042e+05
236723,2013-12-31,93428,0.751994,0.751994,1.377158,7.732926e+05,6.973266e+05
236724,2010-12-31,93429,0.708867,0.702304,1.187379,1.183759e+06,1.135523e+06
236725,2011-12-31,93429,1.150273,1.131232,0.963586,2.295566e+06,2.137707e+06
236726,2012-12-31,93429,1.191022,1.139211,1.158088,2.571033e+06,2.354578e+06
236727,2013-12-31,93429,1.808082,1.763745,1.372511,4.508621e+06,4.065707e+06
236728,2010-12-31,93430,0.778645,0.778645,1.167740,8.362368e+04,8.021616e+04
236729,2010-06-30,93432,1.000000,1.000000,0.923548,1.103499e+05,1.110654e+05
236730,2010-12-31,93433,2.110229,2.110229,1.187379,8.000699e+05,7.674684e+05
236737,2013-06-30,93434,1.584120,1.584120,1.146524,9.707392e+04,9.128700e+04
236738,2010-12-31,93435,1.066129,1.066129,1.167740,1.550177e+05,1.487010e+05
236741,2011-12-31,93436,1.072474,1.072474,1.000139,2.987490e+06,2.782050e+06
236742,2012-12-31,93436,1.185924,1.185924,1.158088,3.868428e+06,3.542746e+06
236743,2013-12-31,93436,4.441361,4.441361,1.372511,1.851646e+07,1.669745e+07

In [13]:
firm_year=crsp_fa.shape[0]

In [14]:
firm_year

162389

In [8]:
filter_permno = crsp_fa.reset_index().permno.unique().tolist()

In [9]:
crsp_fa = crsp_fa.reset_index().set_index('permno').loc[filter_permno].reset_index()

In [10]:
tic = time.perf_counter()
crsp_fa1 = crsp_fa.set_index('permno').groupby('permno').apply(calc_exf)
toc = time.perf_counter()
print(toc-tic)

372.3504781690024


exf_to_mv : $EXF_{t}/MV_{t-1}$

ret_n1 : 接下来1年的return

In [11]:
from scipy.stats import mstats

In [12]:
crsp_fa.head()

,permno,index,date,ret_p1,retx_p1,dret_p1,mv,mv_adj
0,10001,26,2011-12-31,1.139163,1.085551,0.855225,93118.680,86715.192152
1,10001,27,2012-12-31,0.860620,0.816988,1.171750,76104.810,69697.564116
2,10001,28,2013-12-31,0.909306,0.860665,1.373769,83929.560,75684.567268
3,10002,29,1986-12-31,1.064515,1.064515,1.005044,14540.625,27694.277996
4,10002,37,1994-12-31,1.039473,1.019418,0.927850,39361.875,55492.135988

winsorize

In [15]:
crsp_fa1.head()

,date,mv,retx_p1,exf,exf_to_mv,car1,car3,car5,wr5
permno,,,,,,,,,
10001,2011-12-31,93118.680,1.085551,NaN,NaN,-0.311130,-0.827147,-0.827147,0.486153
10001,2012-12-31,76104.810,0.816988,27.986179,0.000301,-0.464463,-0.464463,-0.464463,0.661906
10001,2013-12-31,83929.560,0.860665,18428.830033,0.242151,NaN,NaN,NaN,NaN
10002,1986-12-31,14540.625,1.064515,NaN,NaN,0.111624,-0.337573,0.341395,1.202465
10002,1994-12-31,39361.875,1.019418,24538.904537,1.687610,-0.281362,0.121447,-0.897720,0.640625

In [16]:
crsp_fa1 = crsp_fa1.dropna(subset=['exf_to_mv'])
#crsp_fa1 = crsp_fa1.reset_index().set_index('date')
crsp_fa1 = crsp_fa1.reset_index().set_index('date')[:'2008'] # 筛选出到08年的数据
# crsp_fa1 = crsp_fa1.loc['1973':'2001']
# 可以自行调整limits大小
crsp_fa1.exf_to_mv = mstats.winsorize(crsp_fa1.exf_to_mv, limits=[0.05, 0.05])
#per1表示生成10个decile
per1 = np.linspace(0,1,11).tolist()
bins = crsp_fa1.describe(percentiles=per1).exf_to_mv.iloc[4:-1].tolist()
#由于pd.cut函数切出来的区间左开右闭，这里-1是为了把区间的第一个值包含进去
bins = [bins[0]-1] + bins[1:]
# bins = bins[:-1] + [bins[-1]-1]
crsp_fa1.groupby(pd.cut(crsp_fa1.exf_to_mv,bins, right=True)).mean().drop(['mv', 'retx_p1', 'exf'], axis=1)
#由于这里算的是mean值，相当于没有管年份而是直接对整个pool按照exf/mv排序

,permno,exf_to_mv,car1,car3,car5,wr5
exf_to_mv,,,,,,
"(-1.119, -0.0433]",57393.334394,-0.095137,0.152089,0.376286,0.589025,1.338349
"(-0.0433, -0.00666]",56124.474062,-0.021031,0.051581,0.156811,0.263087,1.165648
"(-0.00666, -1.3e-07]",55822.578711,-0.001453,0.050653,0.155874,0.277234,1.164741
"(-1.3e-07, 0.000947]",54888.424307,0.000193,0.060473,0.168752,0.283290,1.168753
"(0.000947, 0.00466]",54932.229935,0.002651,0.076410,0.183625,0.284996,1.160567
"(0.00466, 0.0111]",55724.872349,0.007571,0.064513,0.167419,0.273838,1.146881
"(0.0111, 0.0243]",56867.215824,0.016809,0.050359,0.161313,0.263652,1.151759
"(0.0243, 0.0617]",58447.561909,0.039171,0.058947,0.161416,0.226490,1.128863
"(0.0617, 0.196]",58930.872431,0.114552,0.031269,0.090787,0.146422,1.081803
"(0.196, 0.428]",61951.177732,0.359781,0.016557,0.014024,0.066080,1.031758

In [17]:
crsp_fa1.describe(percentiles=per1).exf_to_mv

count    1.226010e+05
mean     4.230968e-02
std      1.205742e-01
min     -1.190948e-01
0%      -1.190948e-01
10%     -4.326331e-02
20%     -6.662812e-03
30.0%   -1.298991e-07
40%      9.470411e-04
50%      4.663657e-03
60.0%    1.109584e-02
70%      2.427360e-02
80%      6.174505e-02
90%      1.964536e-01
100%     4.284997e-01
max      4.284997e-01
Name: exf_to_mv, dtype: float64

In [18]:
#iloc[4:-1]是为了取出分组值
crsp_fa1.describe(percentiles=per1).exf_to_mv.iloc[4:-1]

0%      -1.190948e-01
10%     -4.326331e-02
20%     -6.662812e-03
30.0%   -1.298991e-07
40%      9.470411e-04
50%      4.663657e-03
60.0%    1.109584e-02
70%      2.427360e-02
80%      6.174505e-02
90%      1.964536e-01
100%     4.284997e-01
Name: exf_to_mv, dtype: float64

In [19]:
#查看区间端点值
bins

[-1.1190947736114456,
 -0.04326331081534079,
 -0.006662811813072176,
 -1.298991285894573e-07,
 0.0009470410779396914,
 0.004663657002246405,
 0.011095841843832851,
 0.024273596652487215,
 0.061745051471131865,
 0.19645363846046626,
 0.42849973815839376]

Significant issuance & Significant repurchase

EXF is greater than 5% of pre-issuance market capitalization

$EXF_t >= 0.05 * (1+rx_t) *MV_{t-1}$

equals

$EXF_t / MV_{t-1} >= 0.05 * (1+rx_t)$

In [20]:
crsp_fa1[crsp_fa1.exf_to_mv > (0.05 * crsp_fa1.retx_p1)].describe().loc[['count', 'mean']]

,permno,mv,retx_p1,exf,exf_to_mv,car1,car3,car5,wr5
count,25822.000000,2.582200e+04,25822.000000,25822.000000,25822.000000,23617.000000,23617.000000,23617.000000,23617.000000
mean,60762.202386,1.468557e+06,1.283267,281877.004216,0.224194,0.034412,0.073962,0.130165,1.068787

In [21]:
crsp_fa1[crsp_fa1.exf_to_mv < (-0.05 * crsp_fa1.retx_p1)].describe().loc[['count', 'mean']]

,permno,mv,retx_p1,exf,exf_to_mv,car1,car3,car5,wr5
count,9822.000000,9.822000e+03,9822.000000,9822.000000,9822.000000,8690.000000,8690.000000,8690.000000,8690.000000
mean,57813.234983,1.827623e+06,1.172883,-263729.804103,-0.095542,0.157717,0.406613,0.642431,1.365481

In [22]:
crsp_fa1[(crsp_fa1.exf_to_mv >=(-0.05 * crsp_fa1.retx_p1)) & \
         (crsp_fa1.exf_to_mv <= (0.05 * crsp_fa1.retx_p1))].describe().loc[['count', 'mean']]

,permno,mv,retx_p1,exf,exf_to_mv,car1,car3,car5,wr5
count,86957.000000,8.695700e+04,86957.000000,86957.000000,86957.00000,80253.000000,80253.0000,80253.000000,80253.000000
mean,55943.611463,1.972397e+06,1.167769,-5917.379894,0.00387,0.058254,0.1626,0.265526,1.155129

long Significant repurchase,  short Significant issuance

In [16]:
crsp_fa1[crsp_fa1.exf_to_mv <= (-0.05 * crsp_fa1.retx_p1)].describe().loc[['mean']] - \
crsp_fa1[crsp_fa1.exf_to_mv > (0.05 * crsp_fa1.retx_p1)].describe().loc[['mean']]

,permno,mv,retx_p1,exf,exf_to_mv,car1,car3,car5,wr5
mean,-2383.813256,366700.195852,0.170199,-643812.5808,-0.643001,0.132408,0.325322,0.483414,0.280885

查看样本的个数

In [23]:
crsp_fa1.groupby(pd.cut(crsp_fa1.exf_to_mv,bins, right=True)).count().exf_to_mv

exf_to_mv
(-1.119, -0.0433]       12261
(-0.0433, -0.00666]     12260
(-0.00666, -1.3e-07]    12260
(-1.3e-07, 0.000947]    12260
(0.000947, 0.00466]     12260
(0.00466, 0.0111]       12260
(0.0111, 0.0243]        12260
(0.0243, 0.0617]        12260
(0.0617, 0.196]         12260
(0.196, 0.428]          12260
Name: exf_to_mv, dtype: int64

下面的步骤都是测试 还未完成

In [18]:
crsp_fa1['exf']

date
2012-12-31        27.986179
1994-12-31     24538.904537
1995-12-31        41.937460
1996-12-31        -0.001807
1997-12-31     30478.045526
1998-12-31     20740.033634
1999-12-31        -0.007970
2000-12-31      7322.381015
2001-12-31        39.535446
2002-12-31      2209.001037
2003-12-31       256.541564
2004-12-31     56012.365524
2005-12-31      2331.780283
2006-12-31       739.634299
2007-12-31     76604.994379
2008-12-31       856.315469
1975-12-31      2771.790147
1976-12-31      4390.504558
1977-12-31      1932.241538
1978-12-31       829.923244
1979-12-31      3459.125499
1980-12-31      6899.979339
1981-12-31      6009.133067
1982-12-31    -30752.365666
1996-12-31     26266.075432
1997-12-31       540.726161
1991-10-31      7029.111829
1992-10-31       326.727352
1993-10-31      -234.616026
1995-02-28      5763.736471
                  ...
2012-04-30      7705.492498
2011-05-31     35586.579336
2012-05-31     -3790.882291
2011-12-31      2391.648797
2012-12-31     -5138.938733
2011-06-30     -5619.785679
2012-06-30     -2494.745807
2011-09-30      2890.080914
2012-12-31     29523.738673
2011-12-31      9218.573636
2012-12-31        -0.373768
2011-12-31     11248.946596
2012-12-31    -39874.162101
2011-12-31    160857.523665
2012-12-31    287321.285384
2011-12-31      6340.526491
2012-12-31     28970.206032
2011-12-31     38989.113889
2012-12-31     35272.404762
2011-12-31    -27796.589478
2012-12-31   -103620.751196
2011-12-31       224.250279
2012-12-31       330.612953
2011-06-30     10561.069987
2012-06-30      3627.235883
2011-12-31     52791.140105
2012-12-31     25903.417001
2011-12-31    956459.921199
2012-12-31    -44102.450140
2012-12-31    325491.320971
Name: exf, Length: 127531, dtype: float64

In [19]:
crsp_fa1['wr5']

date
2012-12-31    0.661906
1994-12-31    0.640625
1995-12-31    0.688416
1996-12-31    0.719418
1997-12-31    0.601983
1998-12-31    0.534312
1999-12-31    1.190307
2000-12-31    1.120990
2001-12-31    1.357469
2002-12-31    0.539649
2003-12-31    1.328511
2004-12-31    0.131291
2005-12-31    0.163154
2006-12-31    0.150574
2007-12-31    0.289916
2008-12-31    0.131402
1975-12-31    0.815116
1976-12-31    0.728235
1977-12-31    0.512917
1978-12-31    0.772204
1979-12-31    0.864532
1980-12-31    0.803228
1981-12-31    0.876498
1982-12-31    1.285893
1996-12-31    1.115412
1997-12-31    0.911426
1991-10-31    0.439401
1992-10-31    0.658229
1993-10-31    1.102572
1995-02-28    0.404516
                ...
2012-04-30    0.627064
2011-05-31    0.452515
2012-05-31    0.787185
2011-12-31    1.312012
2012-12-31    0.725204
2011-06-30    0.248851
2012-06-30    0.713675
2011-09-30    0.528605
2012-12-31    0.935808
2011-12-31    0.684401
2012-12-31    0.672245
2011-12-31    0.328272
2012-12-31    0.686062
2011-12-31    1.022766
2012-12-31    0.772141
2011-12-31    1.015824
2012-12-31    1.076160
2011-12-31    0.661729
2012-12-31    0.739745
2011-12-31    1.245342
2012-12-31    0.922995
2011-12-31    0.606167
2012-12-31    0.846056
2011-06-30    0.486389
2012-06-30    0.912661
2011-12-31    0.572466
2012-12-31    0.546048
2011-12-31    1.354816
2012-12-31    1.317353
2012-12-31    3.235937
Name: wr5, Length: 127531, dtype: float64

In [20]:
wt1=crsp_fa1['exf']*(1-crsp_fa1['wr5'])

In [21]:
wt1

date
2012-12-31         9.461961
1994-12-31      8818.672794
1995-12-31        13.067032
1996-12-31        -0.000507
1997-12-31     12130.776416
1998-12-31      9658.386662
1999-12-31         0.001517
2000-12-31      -885.933171
2001-12-31       -14.132704
2002-12-31      1016.916201
2003-12-31       -84.276842
2004-12-31     48658.423412
2005-12-31      1951.340348
2006-12-31       628.264780
2007-12-31     54395.984662
2008-12-31       743.793802
1975-12-31       512.458942
1976-12-31      1193.185348
1977-12-31       941.162714
1978-12-31       189.052829
1979-12-31       468.601670
1980-12-31      1357.723253
1981-12-31       742.137105
1982-12-31      8791.895537
1996-12-31     -3031.418902
1997-12-31        47.894429
1991-10-31      3940.512754
1992-10-31       111.665866
1993-10-31        24.065134
1995-02-28      3432.214515
                  ...
2012-04-30      2873.657470
2011-05-31     19483.111573
2012-05-31      -806.755398
2011-12-31      -746.221998
2012-12-31     -1412.161386
2011-06-30     -4221.296665
2012-06-30      -714.308653
2011-09-30      1362.370166
2012-12-31      1895.201948
2011-12-31      2909.376889
2012-12-31        -0.122505
2011-12-31      7556.230218
2012-12-31    -12518.026345
2011-12-31     -3662.043287
2012-12-31     65468.637849
2011-12-31      -100.333263
2012-12-31     -2206.368951
2011-12-31     13188.879585
2012-12-31      9179.813582
2011-12-31      6819.667642
2012-12-31     -7979.271759
2011-12-31        88.317069
2012-12-31        50.895810
2011-06-30      5424.280828
2012-06-30       316.798439
2011-12-31     22569.984634
2012-12-31     11758.901858
2011-12-31   -339367.645114
2012-12-31     13996.053353
2012-12-31   -727778.087701
Length: 127531, dtype: float64

In [26]:
wt1['1974-12-31']

date
1974-12-31        0.064393
1974-12-31        0.009086
1974-12-31       -0.040132
1974-12-31        2.874858
1974-12-31       -0.338595
1974-12-31      -60.715743
1974-12-31       -0.071475
1974-12-31       -1.013247
1974-12-31       -0.148710
1974-12-31     2098.889975
1974-12-31       -0.037323
1974-12-31       -0.098132
1974-12-31   -79451.669970
1974-12-31        0.487452
1974-12-31       56.477664
1974-12-31      -11.825274
1974-12-31       -3.453532
1974-12-31     7378.986533
1974-12-31        0.456123
1974-12-31        0.095107
1974-12-31      313.170637
1974-12-31        0.096719
1974-12-31        0.004334
1974-12-31      178.043970
1974-12-31       -0.000462
1974-12-31       37.972383
1974-12-31      345.536512
1974-12-31        0.792228
1974-12-31       -0.020729
1974-12-31       95.010014
                  ...
1974-12-31        0.001098
1974-12-31        0.017758
1974-12-31        0.012982
1974-12-31      -23.514610
1974-12-31       -0.008875
1974-12-31    -1266.776138
1974-12-31       -0.004376
1974-12-31        0.022562
1974-12-31        0.005388
1974-12-31     2058.951654
1974-12-31      -61.184314
1974-12-31      306.039259
1974-12-31       -0.004658
1974-12-31        0.016267
1974-12-31       -0.012333
1974-12-31      395.011711
1974-12-31       -0.035177
1974-12-31       -0.004229
1974-12-31        0.028872
1974-12-31       41.824849
1974-12-31        0.747771
1974-12-31     -253.577417
1974-12-31       -0.477698
1974-12-31       40.609882
1974-12-31      -32.934487
1974-12-31      -30.332649
1974-12-31       73.599926
1974-12-31        9.771494
1974-12-31       14.979015
1974-12-31     2107.278148
Length: 673, dtype: float64

In [27]:
wt1['1974-12-31'].sum()

-54821.166157313186

In [28]:
wt1['1975-12-31'].sum()

4613124.201091287

In [163]:
result = crsp_fa.copy()

In [167]:
writer = pd.ExcelWriter('data/sample_fiscal.xlsx', datetime_format='YYYY-MM-DD')
crsp_fa[crsp_fa.permno==77418].to_excel(writer, index=False)
writer.save()