In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import QUANTAXIS as QA
import talib as ta
import datetime #, time

In [2]:
import tushare as ts

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [3]:
code = '002366'

In [4]:
start = '2018-10-01'
end = '2018-11-20'

In [8]:
data_hfq = ts.get_k_data(code, start, end, autype='hfq')

In [7]:
data_hfq.head()

           date    open   close    high     low    volume    code
103  2018-10-08  21.165  22.023  23.184  20.886  329540.0  002366
104  2018-10-09  22.371  22.743  23.184  21.907  315958.0  002366
105  2018-10-10  22.789  22.325  22.859  22.070  181824.0  002366
106  2018-10-11  21.814  20.213  21.930  20.097  226829.0  002366
107  2018-10-12  20.213  22.232  22.232  20.190  379423.0  002366

In [9]:
data_qfq = ts.get_k_data(code, start, end, autype='qfq')

In [10]:
high_hfq = data_hfq.high
low_hfq = data_hfq.low
close_hfq = data_hfq.close

In [11]:
high_qfq = data_qfq.high
low_qfq = data_qfq.low
close_qfq = data_qfq.close

In [12]:
atr_hfq = ta.ATR(high_hfq.values, low_hfq.values, close_hfq.values, timeperiod=14)

In [13]:
atr_qfq = ta.ATR(high_qfq.values, low_qfq.values, close_qfq.values, timeperiod=14)

In [14]:
atr_hfq

array([       nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan, 1.50507143,
       1.43570918, 1.4640871 , 1.49543802, 1.43997816, 1.47469401,
       1.48207301, 1.55692494, 1.56671601, 1.52609344, 1.47844391,
       1.49712649, 1.51947459, 1.47229784, 1.52627656])

In [19]:
np.nanmean(atr_qfq)

0.6446697117718967

In [18]:
np.amax()

In [35]:
(10.906 - np.nanmean(atr_qfq) * 2) #/ 10.906

9.616660576456207

In [5]:
def stop_lose_price(code, start, end, entry_price, atr_ratio=2):
    """
    计算止损价格:
    入场价格下跌2倍实时atr(14天)
    有个问题，这里用的前复权计算的
    """
    data_qfq = ts.get_k_data(code, start, end, autype='qfq')
    high_qfq = data_qfq.high
    low_qfq = data_qfq.low
    close_qfq = data_qfq.close
    atr_qfq = ta.ATR(high_qfq.values, low_qfq.values, close_qfq.values, timeperiod=14)
    return (entry_price - np.nanmean(atr_qfq) * 2) #/ entry_price

In [26]:
stop_lose_price('300104', start, end, 3.93)

3.330899359215615

In [6]:
def atr_calc(code, start, end):
    """
    计算近期atr
    """
    data_qfq = ts.get_k_data(code, start, end, autype='qfq')
    high_qfq = data_qfq.high
    low_qfq = data_qfq.low
    close_qfq = data_qfq.close
    atr_qfq = ta.ATR(high_qfq.values, low_qfq.values, close_qfq.values, timeperiod=14)
    return np.nanmean(atr_qfq)

In [8]:
atr_calc('300104', start, end)

0.29921970654087876

In [9]:
537 * 337

180969

In [34]:
(13.91 - 9.34) / atr_calc('300257', start, end)

8.070477082497394

In [38]:
amount_buy = 1.53
amount_sell = 1.05
(amount_buy - amount_sell) / (amount_buy + amount_sell)

0.18604651162790697

0.1875